@using Reporting.Service.Web.UI.Models
@{
    ViewBag.Title = "Index";
    ViewBag.Title = "Missions";
}
@section CustomStyles {
    <!-- Estilos específicos para esta vista, incluyendo Bootstrap v5 -->
    <script type="text/javascript" language="javascript" src="~/Scripts/new/jquery-3.6.0.js"></script>
    <link href="~/Scripts/new/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/startbootstrap-sb-admin/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/new/css/dataTables.bootstrap5.min.css" />
    <script src="~/Scripts/new/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/new/dataTables.bootstrap5.min.js"></script>
    <link href="~/Scripts/new/css/buttons.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/Scripts/new/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/new/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/new/buttons.bootstrap5.min.js"></script>
    <script src="~/Scripts/new/jszip.min.js"></script>
    <script src="~/Scripts/new/pdfmake.min.js"></script>
    <script src="~/Scripts/new/vfs_fonts.js"></script>
    <script src="~/Scripts/new/buttons.html5.min.js"></script>
    <link href="~/Scripts/new/css/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/StylesStepper/stepper.css" />
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/new/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/startbootstrap-sb-admin/js/scripts.js"></script>
    <script src="~/Scripts/new/all.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/new/sweetalert2@11.js"></script>
    <script src="~/Scripts/new/moment.min.js"></script>
    <script src="~/Scripts/new/daterangepicker.min.js"></script>
    <script src="~/Content/dist/js/app.min.js"></script>
}
<style>
    .text-quotation {
        min-width: 90px;
    }

    .icon-quotation {
        min-width: 40px;
    }

    .footer-buttons {
        text-align: right;
    }

    .redondear {
        border-radius: 0px 5px 5px 0px;
    }

    .inputheight {
        height: 36px !important;
    }

    .labelfloat {
        margin-top: -10px !important;
    }
</style>
<div class="container-fluid px-4">
    <h1 class="mt-4">Flux - Asg</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Missions</li>
    </ol>
    <div class="row">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registered Missions
                @*<button type="submit" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#quotationModal">
                        New Quotation
                    </button>*@
            </div>
            <div class="card-body">
                <table id="quotation" class="display table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <td>Reference</td>
                            <td>Date</td>
                            <td>Customer Name</td>
                            <td>Custom Ref</td>
                            <td>From</td>
                            <td>To</td>
                            <td>Service</td>
                            <td>Status</td>
                            <td>Actions</td>
                            <td>Suppliers</td>
                            <td>Completar</td>
                        </tr>
                    </thead>
                    <tbody id="body-quotations">
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="quotationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" style="width:110%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quotation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="quotationModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 order-md-last" id="summary">
                            <h5 class="d-flex justify-content-between align-items-center mb-3" id="tittle-summary" style="color: red;"></h5>
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted"># OBC</small>
                                    </div>
                                    <span class="text-muted" id="sumary-obc"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">DAY</small>
                                    </div>
                                    <span class="text-muted" id="sumary-day"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">OBC FEE</small>
                                    </div>
                                    <span class="text-muted" id="sumary-obc-fee"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">FLIGHTS</small>
                                    </div>
                                    <span class="text-muted" id="sumary-flights"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">HOTEL</small>
                                    </div>
                                    <span class="text-muted" id="sumary-hotel"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">PICKUP</small>
                                    </div>
                                    <span class="text-muted" id="sumary-pickup"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">DELIVERY</small>
                                    </div>
                                    <span class="text-muted" id="sumary-delibery"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">CUSTOMS</small>
                                    </div>
                                    <span class="text-muted" id="sumary-customs"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">OTHER</small>
                                    </div>
                                    <span class="text-muted" id="sumary-wrapping"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">PROFIT</small>
                                    </div>
                                    <span class="text-muted" id="sumary-profit"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">EB</small>
                                    </div>
                                    <span class="text-muted" id="sumary-EB"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">Wrapping</small>
                                    </div>
                                    <span class="text-muted" id="sumary-obc-wrapping"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm" style="border: 1px solid #119900 !important;">
                                    <div>
                                        <small class="text-muted">COST OF MISSION</small>
                                    </div>
                                    <span class="text-muted" id="sumary-cost"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-lg-9" id="form">
                            <form id="form-quotation" enctype="multipart/form-data" method="post" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-brands fa-whatsapp"></i>
                                            </span>
                                            <input type="text" class="form-control inputheight" id="WhatsappGroup" placeholder="Whatsapp reference" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Customer </span>
                                                <select class="form-control" id="cbx-cliente" name="Client" required>
                                                    <option value="0">Choose a client</option>
                                                    @foreach (var item in Model.clientes)
                                                    {
                                                        <option value="@item.Identifier">@item.Nombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                Client ref
                                            </span>
                                            <input type="text" class="form-control redondear" id="ClientRef" name="ClientRef" placeholder="Client ref" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-solid fa-plane"></i>
                                            </span>
                                            <input type="text" class="form-control redondear" id="Origin" name="Origin" placeholder="From" list="searchresultsorigin" autocomplete="off" required />
                                            <datalist id="searchresultsorigin">
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-solid fa-plane"></i>
                                            </span>
                                            <input type="text" class="form-control redondear" id="Destination" name="Destination" placeholder="To" list="searchresultsdestination" autocomplete="off" required />
                                            <datalist id="searchresultsdestination">
                                            </datalist>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">Update </span>
                                            <select class="form-control" name="ObcUpdate" id="ObcUpdate" required>
                                                <option value="">Choose an option</option>
                                                <option value="WhatsApp">WhatsApp</option>
                                                <option value="Mail">Mail</option>
                                                <option value="WhatsApp and Email">WhatsApp and Email</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">Passports and Tickets </span>
                                            <select class="form-control" name="ObcPassportsTickets" id="ObcPassportsTickets" required>
                                                <option value="">Choose an option</option>
                                                <option value="WhatsApp">WhatsApp</option>
                                                <option value="Mail">Mail</option>
                                                <option value="WhatsApp and Email">WhatsApp and Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                num. packages
                                            </span>
                                            <input type="text" class="form-control inputheight" id="NumberOfPackages" placeholder="number of packages" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-weight-scale"></i>
                                            </span>
                                            <input type="text" class="form-control inputheight" id="Weight" placeholder="Weight" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-comments"></i>
                                            </span>
                                            <input type="text" class="form-control inputheight" id="Description" placeholder="Description" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Service </span>
                                                <select class="form-control" id="cbx-service" name="Service" required>
                                                    <option value="0">Choose a service</option>
                                                    @foreach (var item in Model.servicios)
                                                    {
                                                        <option value="@item.Identifier">@item.Nombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input type="text" class="form-control inputheight" id="customer-poc" placeholder="Customer POC" autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div id="div-obc">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="table table-responsive">
                                                <table class="table table-striped" id="Conceptos" name="Conceptos">
                                                    <thead>
                                                        <tr>
                                                            <td># OBC</td>
                                                            <td>DAY</td>
                                                            <td>OBC FEE</td>
                                                            <td>FLIGHTS</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="DetalleConceptos" name="DetalleConceptos"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-message"></i>
                                                </span>
                                                <input type="text" class="form-control inputheight" id="ComentariosTable" placeholder="Comments" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-solid fa-truck-pickup"></i>
                                                </span>
                                                <input type="text" class="form-control" name="ObcPickup" id="ObcPickup" placeholder="Pickup" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-message"></i>
                                                </span>
                                                <input type="text" class="form-control inputheight" id="ComentariosPickup" placeholder="Comments" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Customs
                                                </span>
                                                <input type="text" class="form-control" name="ObcCustoms" id="ObcCustoms" placeholder="Customs" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-message"></i>
                                                </span>
                                                <input type="text" class="form-control inputheight" id="ComentariosCustom" placeholder="Comments" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-solid fa-hotel"></i>
                                                </span>
                                                <input type="text" class="form-control" name="ObcHotel" id="ObcHotel" placeholder="Hotel" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-message"></i>
                                                </span>
                                                <input type="text" class="form-control inputheight" id="ComentariosHotel" placeholder="Comments" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-solid fa-truck"></i>
                                                </span>
                                                <input type="text" class="form-control" name="ObcDelibery" id="ObcDelibery" placeholder="Delivery" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-message"></i>
                                                </span>
                                                <input type="text" class="form-control inputheight" id="ComentariosDelibery" placeholder="Comments" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Other
                                                </span>
                                                <input type="text" class="form-control" name="ObcOther" id="ObcOther" placeholder="Other" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-message"></i>
                                                </span>
                                                <input type="text" class="form-control inputheight" id="ComentariosOther" placeholder="Comments" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Profit
                                                </span>
                                                <input type="text" class="form-control" name="ObcProfit" id="ObcProfit" placeholder="Profit" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    EB
                                                </span>
                                                <input type="text" class="form-control" name="ObcEB" id="ObcEB" placeholder="EB" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Wrapping
                                                </span>
                                                <input type="text" class="form-control" name="ObcWrapping" id="ObcWrapping" placeholder="Wrapping" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Sell Price
                                                </span>
                                                <input type="text" class="form-control" name="ObcSellPrice" id="ObcSellPrice" placeholder="Sell Price" disabled readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bell-concierge"></i></span>
                                                <select class="form-control" name="ObcServiceType" id="ObcServiceType" required>
                                                    <option value="0">Choose a service</option>
                                                    @foreach (var item in Model.servicios)
                                                    {
                                                        <option value="@item.Identifier">@item.Nombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-solid fa-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control" name="ObcPickupDate" id="ObcPickupDate" placeholder="Pickup date" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-solid fa-calendar"></i>
                                                </span>
                                                <input class="form-control" id="ObcDisclaimerEta" name="ObcDisclaimerEta" placeholder="Eta date" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Schedule
                                                </span>
                                                <textarea class="form-control" name="ObcSchedule" id="ObcSchedule" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="div-charter">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Service </span>
                                                <select class="form-control" name="CharterServiceType" id="CharterServiceType" required>
                                                    <option value="0">Choose a service</option>
                                                    @foreach (var item in Model.tipoServicios)
                                                    {
                                                        <option value="@item.Identifier">@item.Nombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Buy
                                                </span>
                                                <input type="text" class="form-control" name="CharterBuy" id="CharterBuy" placeholder="Buy" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Aircraft
                                                </span>
                                                <input type="text" class="form-control" name="CharterAircraft" id="CharterAircraft" placeholder="Aircraft" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Positi...
                                                </span>
                                                <input type="text" class="form-control" name="CharterPositioning" id="CharterPositioning" placeholder="Positioning" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Rute
                                                </span>
                                                <input type="text" class="form-control" name="CharterRute" id="CharterRute" placeholder="Rute" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Living...
                                                </span>
                                                <input type="text" class="form-control" name="CharterLiveLeg" id="CharterLiveLeg" placeholder="Live leg" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Costs
                                                </span>
                                                <input type="text" class="form-control" name="CharterCosts" id="CharterCosts" placeholder="Costs" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="div-nfo">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Buy
                                                </span>
                                                <input type="text" class="form-control" name="NfoBuy" id="NfoBuy" placeholder="Buy" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Option
                                                </span>
                                                <input type="text" class="form-control" name="NfoOption" id="NfoOption" placeholder="Option" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">Service </span>
                                                <select class="form-control" name="NfoServiceType" id="NfoServiceType" required>
                                                    <option value="0">Choose a service</option>
                                                    @foreach (var item in Model.tipoServicios)
                                                    {
                                                        <option value="@item.Identifier">@item.Nombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Airline
                                                </span>
                                                <input type="text" class="form-control" name="NfoAirline" id="NfoAirline" placeholder="Airline" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Rute
                                                </span>
                                                <input type="text" class="form-control" name="NfoRute" id="NfoRute" placeholder="Rute" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Costs
                                                </span>
                                                <input type="text" class="form-control" name="NfoCosts" id="NfoCosts" placeholder="Costs" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="div-hotshot">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Buy
                                                </span>
                                                <input type="text" class="form-control" name="HostshotBuy" id="HostshotBuy" placeholder="Buy" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Options
                                                </span>
                                                <input type="text" class="form-control" name="HostshotOption" id="HostshotOption" placeholder="Option" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Transit...
                                                </span>
                                                <input type="text" class="form-control" name="HostshotTransitTime" id="HostshotTransitTime" placeholder="Transit time" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    Costs
                                                </span>
                                                <input type="text" class="form-control" name="HostshotCosts" id="HostshotCosts" placeholder="Costs" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div id="div-disclaimers" class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                Disclaimers
                                            </span>
                                            <textarea class="form-control" id="disclaimer-area" rows="3" disabled readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="footer-buttons">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrarModal" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="quotationModal">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnSave" onclick="SaveMission()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Proveedores -->
    <div class="modal modal-lg" id="proveedoresModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suppliers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="proveedoresModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Assigned Suppliers</h6>
                            <div class="box box-info">
                                <div class="box-body">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered cell-border compact stripe" data-page-length='20' id="TableProveedor">
                                            <thead>
                                                <tr>
                                                    <td class="col-md-3">Nombre</td>
                                                    <td class="col-md-3">Servicio</td>
                                                    <td class="col-md-2"></td>
                                                </tr>
                                            </thead>
                                            <tbody id="Proveedores"></tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>Available Suppliers</h6>
                            <div class="box box-info">
                                <div class="box-body">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered cell-border compact stripe" data-page-length='20' id="TableProveedor2">
                                            <thead>
                                                <tr>
                                                    <td class="col-md-3">Nombre</td>
                                                    <td class="col-md-3">Servicio</td>
                                                    <td class="col-md-2"></td>
                                                </tr>
                                            </thead>
                                            <tbody id="Proveedores2"></tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="footer-buttons">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="proveedoresModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    RowNumber = 0;
    PadreId = null;
    IsUpdate = false;
    CotizacionId = 0;

    var inputs = document.querySelectorAll('#Conceptos input');

    inputs.forEach(function (input) {
        input.addEventListener('blur', function () {
            Calculos();
        });
    });

//$(document).ready(function ($) {
//    $.noConflict();

    $('#ObcPickupDate, #ObcDisclaimerEta').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour: true,
        position: 'bottom-right',
        locale: {
            cancelLabel: 'Clear',
            format: 'MM/DD/YYYY H:mm'
        }
    });

    function SaveMission() {

            var quotationDetails = [];
            var quotation;

            switch ($("#cbx-service").val()) {
                case '0':
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Select a service',
                        showConfirmButton: false,
                        timer: 1500
                    });

                    return;
                    break;
                case '1':

                    var tamTabla = $('#Conceptos input').length;
                    var cont = 0;
                    for (var i = 0; i < (tamTabla / 4); i++) {
                        quotationDetails.push({
                            "Obc": $('#Conceptos').find('td input').eq(cont).val(),
                            "Day": $('#Conceptos').find('td input').eq(cont + 1).val(),
                            "ObcFee": $('#Conceptos').find('td input').eq(cont + 2).val(),
                            "Flights": $('#Conceptos').find('td input').eq(cont + 3).val()
                        });
                        cont = cont + 4;
                    }

                    var ObcPickupDate = moment($("#ObcPickupDate").val()).format();
                    var ObcDisclaimerEta = moment($("#ObcDisclaimerEta").val()).format();

                    //console.log($("#WhatsappGroup").val());

                    quotation = '{ "GrupoWhatsapp": "' + $("#WhatsappGroup").val() + '", "CommentsHotel": "' + $("#ComentariosHotel").val() + '", "CommentsPickup": "' + $("#ComentariosPickup").val() + '", "CommentsDelibery": "' + $("#ComentariosDelibery").val() + '", "CommentsCustom": "' + $("#ComentariosCustom").val() + '", "CommentsOther": "' + $("#ComentariosOther").val() + '", "CommentsTable": "' + $("#ComentariosTable").val() + '", "Description": "' + $("#Description").val() + '", "Weight": "' + $("#Weight").val() + '",  "NumberOfPackages": "' + $("#NumberOfPackages").val() + '", "ClientRef": "' + $("#ClientRef").val() + '", "Identifier": "' + CotizacionId + '", "IsUpdate": "' + IsUpdate + '", "PadreId": "' + PadreId + '", "Client": "' + $("#cbx-cliente").val() + '", "Origin": "' + $("#Origin").val() + '", "Destination": "' + $("#Destination").val() + '", "Service": "' + $("#cbx-service").val() + '", "ObcServiceType": "' + $("#ObcServiceType").val() + '", "ObcDelibery": "' + $("#ObcDelibery").val() + '", "ObcPickupDate": "' + ObcPickupDate + '", "ObcPickup": "' + $("#ObcPickup").val() + '", "ObcHotel": "' + $("#ObcHotel").val() + '", "ObcCustoms": "' + $("#ObcCustoms").val() + '", "ObcOther": "' + $("#ObcOther").val() + '", "ObcProfit": "' + $("#ObcProfit").val() + '", "ObcEB": "' + $("#ObcEB").val() + '", "ObcSellPrice": "' + $("#ObcSellPrice").val() + '", "ObcSchedule": "' + $("#ObcSchedule").val() + '", "ObcDisclaimerEta": "' + ObcDisclaimerEta + '", "Wrapping": "' + $("#ObcWrapping").val() + '", "CustomerPOC": "' + $("#customer-poc").val() + '", "UpdateMailWA": "' + $("#ObcUpdate").val() + '","PassportsTickets": "' + $("#ObcPassportsTickets").val() + '", "quotationDetails": ' + JSON.stringify(quotationDetails) + '}';

                    break;
                case '2':
                    quotation = '{ "GrupoWhatsapp": "' + $("#WhatsappGroup").val() + '", "Description": "' + $("#Description").val() + '", "Weight": "' + $("#Weight").val() + '", "NumberOfPackages": "' + $("#NumberOfPackages").val() + '", "ClientRef": "' + $("#ClientRef").val() + '", "Identifier": "' + CotizacionId + '", "IsUpdate": "' + IsUpdate + '", "PadreId": "' + PadreId + '", "Client": "' + $("#cbx-cliente").val() + '", "Origin": "' + $("#Origin").val() + '", "Destination": "' + $("#Destination").val() + '", "Service": "' + $("#cbx-service").val() + '", "CharterServiceType": "' + $("#CharterServiceType").val() + '", "CharterBuy": "' + $("#CharterBuy").val() + '", "CharterAircraft": "' + $("#CharterAircraft").val() + '", "CharterPositioning": "' + $("#CharterPositioning").val() + '", "CharterRute": "' + $("#CharterRute").val() + '", "CharterLiveLeg": "' + $("#CharterLiveLeg").val() + '", "CharterCosts": "' + $("#CharterCosts").val() + '"}';

                    break;
                case '3':
                    quotation = '{ "GrupoWhatsapp": "' + $("#WhatsappGroup").val() + '", "Description": "' + $("#Description").val() + '", "Weight": "' + $("#Weight").val() + '", "NumberOfPackages": "' + $("#NumberOfPackages").val() + '", "ClientRef": "' + $("#ClientRef").val() + '", "Identifier": "' + CotizacionId + '", "IsUpdate": "' + IsUpdate + '", "PadreId": "' + PadreId + '", "Client": "' + $("#cbx-cliente").val() + '", "Origin": "' + $("#Origin").val() + '", "Destination": "' + $("#Destination").val() + '", "Service": "' + $("#cbx-service").val() + '", "NfoBuy": "' + $("#NfoBuy").val() + '", "NfoOption": "' + $("#NfoOption").val() + '", "NfoServiceType": "' + $("#NfoServiceType").val() + '", "NfoAirline": "' + $("#NfoAirline").val() + '", "NfoRute": "' + $("#NfoRute").val() + '", "NfoCosts": "' + $("#NfoCosts").val() + '"}';

                    break;
                case '4':
                    quotation = '{ "GrupoWhatsapp": "' + $("#WhatsappGroup").val() + '", "Description": "' + $("#Description").val() + '", "Weight": "' + $("#Weight").val() + '", "NumberOfPackages": "' + $("#NumberOfPackages").val() + '", "ClientRef": "' + $("#ClientRef").val() + '", "Identifier": "' + CotizacionId + '", "IsUpdate": "' + IsUpdate + '", "PadreId": "' + PadreId + '", "Client": "' + $("#cbx-cliente").val() + '", "Origin": "' + $("#Origin").val() + '", "Destination": "' + $("#Destination").val() + '", "Service": "' + $("#cbx-service").val() + '", "HostshotBuy": "' + $("#HostshotBuy").val() + '", "HostshotOption": "' + $("#HostshotOption").val() + '", "HostshotTransitTime": "' + $("#HostshotTransitTime").val() + '", "HostshotCosts": "' + $("#HostshotCosts").val() + '"}';

                    break;
            }

            $.ajax(
                {
                    url: '@Url.Action("Update", "Mision")',
                    type: "POST",
                    success: function (data) {
                        if (data.Context != null) {
                            $('#quotationModal').hide();
                            //$('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
                            //$('.modal-backdrop').remove();
                            $("#DetalleConceptos").html('');
                            $("#btnCerrarModal").trigger("click");

                            Swal.fire({
                                icon: 'success',
                                title: 'The mision was update successfully.',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'An error has occurred when trying to update the mision, please report it to the systems department.'
                            });
                        }

                        while(RowNumber > 0){
                            EliminarDetalle();
                            RowNumber = RowNumber - 1;
                        }

                        init(1);
                    },
                    data: quotation,
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                });
        }

        init(0);

         Conceptos: [];

        var myModal = document.getElementById('quotationModal');

        myModal.addEventListener('show.bs.modal', function (event) {
            PadreId = null;
            PadreId = null;
            CotizacionId = null;
            IsUpdate = false;

            while (RowNumber > 0) {
                EliminarDetalle();
            }

            $("#quotationModal input").val("");
            $("#quotationModal textarea").val("");
            $("#quotationModal select").val("0");
            $('#cbx-service').prop('disabled', false);
            $("#cbx-service").trigger("change");
        });

        $("#Origin").on("input", function (e) {
            var val = $(this).val();
            if (val === "") {
                var dataList = $("#searchresultsorigin");
                dataList.empty();
                return;
            }

            $.ajax({
                type: 'GET',
                data: {
                    criteria: val
                },
                url:  '@Url.Action("Airports", "Cotizacion")',
                success: function (data) {
                    if (data != null) {

                        var dataList = $("#searchresultsorigin");
                        dataList.empty();

                        for (var i = 0, len = data.Context.Result.length; i < len; i++) {
                            var opt = $("<option>" + data.Context.Result[i].itemName +"</option>").attr("value", data.Context.Result[i].id);
                            dataList.append(opt);
                        }
                    }
                }
            });
        });

        $("#Destination").on("input", function (e) {
            var val = $(this).val();
            if (val === "") {
                var dataList = $("#searchresultsdestination");
                dataList.empty();
                return;
            }

            $.ajax({
                type: 'GET',
                data: {
                    criteria: val
                },
                url:  '@Url.Action("Airports", "Cotizacion")',
                success: function (data) {
                    if (data != null) {

                        var dataList = $("#searchresultsdestination");
                        dataList.empty();

                        for (var i = 0, len = data.Context.Result.length; i < len; i++) {
                            var opt = $("<option>" + data.Context.Result[i].itemName +"</option>").attr("value", data.Context.Result[i].id);
                            dataList.append(opt);
                        }
                    }
                }
            });
        });

    $("#cbx-service").change(function () {
        //Se traen los Terminos y condiciones para pintarlos dependiendo del servicio
        $.post('@Url.Action("Disclaimers", "Cotizacion")', {
            Servicio: $("#cbx-service").val()
        }, function (data) {
            if (data.Context != null && $.isArray(data.Context) && data.Context.length > 0) {
                $("#disclaimer-area").val(data.Context[0].Description);
            }
        });

        switch($(this).val()) {
            case '0':
                $("#summary").hide();
                $("#camposExtra").hide();
                $("#div-obc").hide();
                $("#div-charter").hide();
                $("#div-nfo").hide();
                $("#div-hotshot").hide();
                $("#div-disclaimers").hide();
                break;
            case '1':
                $("#summary").show();
                $("#camposExtra").show();
                $("#div-obc").show();
                $("#div-charter").hide();
                $("#div-nfo").hide();
                $("#div-hotshot").hide();
                $("#div-disclaimers").show();
                break;
            case '2':
                $("#summary").hide();
                $("#camposExtra").show();
                $("#div-obc").hide();
                $("#div-charter").show();
                $("#div-nfo").hide();
                $("#div-hotshot").hide();
                $("#div-disclaimers").show();
                break;
            case '3':
                $("#summary").hide();
                $("#camposExtra").show();
                $("#div-obc").hide();
                $("#div-charter").hide();
                $("#div-nfo").show();
                $("#div-hotshot").hide();
                $("#div-disclaimers").show();
                break;
            case '4':
                $("#summary").hide();
                $("#camposExtra").show();
                $("#div-obc").hide();
                $("#div-charter").hide();
                $("#div-nfo").hide();
                $("#div-hotshot").show();
                $("#div-disclaimers").show();
                break;
        }
    });

    $("#ObcHotel, #ObcPickup, #ObcDelibery, #ObcCustoms, #ObcOther, #ObcProfit, #ObcEB, #ObcWrapping, #Conceptos input").on("blur", function () {
        Calculos();
    });


        function init(aux) {
            while (RowNumber > 0) {
                EliminarDetalle();
            }
            //Se crea la tabla de los conceptos
            $("#DetalleConceptos").html('');

            $("#DetalleConceptos").append('<tr>\
                                            <td><div class="input-group"><span class="input-group-text"><button class="btn btn-danger" type="button" onclick="EliminarDetalle()">-</button></span><input type="text" class="form-control" id="NumObc0"  name="NumObc0" aria-label="NumObc0"></div></td>\
                                            <td><input type="text" class="form-control" id="Day0" name="Day0" aria-label="Day0"></td>\
                                            <td><input type="text" class="form-control" id="ObcFee0" name="ObcFee0" aria-label="ObcFee0"></td>\
                                            <td><div class="input-group"><input type="text" class="form-control" id="Contenedor0" name="Contenedor0" aria-label="Contenedor0"><span class="input-group-text"><button class="btn btn-success" type="button" onclick="AgregarDetalle()">+</button></span></div></td>\
                                        </tr >')
            //Se crea la tabla de los conceptos

            var inputs = document.querySelectorAll('#DetalleConceptos input');

            inputs.forEach(function (input) {
                input.addEventListener('blur', function () {
                    Calculos();
                });
            });

        $.ajax({
            type: 'GET',
            url:  '@Url.Action("GetMissions", "Mision")',
            success: function (data) {
                if (data.Code == 200) {
                    //if (aux == 0) {

                    //}
                    //else {
                        var table = $('#quotation').DataTable();

                        table.destroy();
                    //}

                    $("#body-quotations").html('');
                    ////console.log(JSON.stringify(data.Context));

                    $.each(data.Context, function (index, value) {

                        let status = "";
                        let color = "";
                        let edit = '<td class="text-center"><i class="fa-solid fa-pencil" onclick="Edit(' + value.Identifier + ', ' + 0 +')" data-bs-toggle="modal" data-bs-target="#quotationModal"></i></td>';
                        let proveedores = '<td class="text-center"><i class="fa-solid fa-person" onclick=GetProveedores(' + value.Identifier + ');  data-bs-toggle="modal" data-bs-target="#proveedoresModal"></i></td>';
                        let aceptar = '<td style="text-align: center; "><a class="btn btn-xs" onclick="Completar(' + value.Identifier + ')" align="center"><i class="fa fa-check" style="color: green;"></i></a></td>';

                        switch (value.Status) {
                            case 1:
                                status = "On Hold";
                                color = "yellow";
                                break;
                            case 2:
                                status = "Active";
                                color = "orange";
                                break;
                            case 3:
                                status = "Rejected";
                                color = "red";
                                break;
                            case 4:
                                status = "Expired";
                                color = "gray";
                                break;
                            case 5:
                                proveedores = "<td></td>";
                                aceptar = '<td style="text-align: center; "><a class="btn btn-xs" onclick="reporte(' + value.Identifier + ')" align="center"><i class="fa fa-file" style="color: green;"></i></a></td>';
                                edit = '<td class="text-center"><i class="fa-solid fa-pencil" onclick="Edit(' + value.Identifier + ', ' + 1 + ')" data-bs-toggle="modal" data-bs-target="#quotationModal"></i></td>';
                                status = "Done";
                                color = "green";
                                break;
                            default:
                                status = "Undefined";
                                break;
                        }

                        //if (value.ServiceObject.Nombre == "OBC") {


                            //}

                        $("#body-quotations").append(
                            '<tr>\
                                    <td> '+ value.Referencia + ' </td>\
                                    <td> '+ moment(value.RegistradaEl).format('DD/MM/YYYY') + ' </td>\
                                    <td> '+ value.Client + ' </td>\
                                    <td> '+ value.ClientRef + ' </td>\
                                    <td> '+ value.Origin + ' </td>\
                                    <td> '+ value.Destination + ' </td>\
                                    <td> '+ value.ServiceObject.Nombre + ' </td>\
                                    <td style="color:'+color+'"> '+ status + ' </td>\
                                    '+ edit +'\
                                    '+ proveedores +'\
                                    '+ aceptar +'\
                            </tr >');
                    });


                    $('#quotation').DataTable({
                        "dom": "Bfrtip",
                        "buttons": [
                            "excel"
                        ],
                        "pageLength": 10,
                        "searching": true,
                        "ordering": true,
                        "autoWidth": true
                    });
                    //}
                }
                else {
                    var error = "An error has occurred when trying to save the quote, please report it to the systems department.";

                    if (data.Code == -2)
                        error = data.Message;

                    if (data.Code == -3)
                        error = data.Message;

                    swal({
                        icon: 'error',
                        title: 'Error',
                        text: error,
                        buttons: true,
                        dangerMode: true,
                    }).then((value) => {
                            if (data.Code == -3)
                                window.location.href = "@Url.Action("Login", "Account")";
                        });
                }
            }
        });
    }
//});

    function Calculos() {
        var total = 0;
        var tamTabla = $('#Conceptos input').length;
        var cont = 0;
        var Obc = 0;
        var Day = 0;
        var ObcFee = 0;
        var Flights = 0;
        var ObcT = 0;
        var DayT = 0;
        var ObcFeeT = 0;
        var FlightsT = 0;
        var ObcFeeSuma = 0;
        var FlightsSuma = 0;

        for (var i = 0; i < (tamTabla / 4); i++) {
            Obc = /*Obc +*/ Number($('#Conceptos').find('td input').eq(cont).val());
            ObcT = ObcT + Obc;
            Day = /*Day + */Number($('#Conceptos').find('td input').eq(cont + 1).val());
            DayT = DayT + Day;
            ObcFee = /*ObcFee +*/ Number($('#Conceptos').find('td input').eq(cont + 2).val());
            ObcFeeT = ObcFeeT + ObcFee;
            ObcFeeSuma = ObcFeeSuma + (Obc * Day * ObcFee);
            Flights = /*Flights +*/ Number($('#Conceptos').find('td input').eq(cont + 3).val());
            FlightsT = FlightsT + Flights;
            FlightsSuma = FlightsSuma + (Obc * Flights);

            total = total + (Obc * (ObcFee * Day) + (Flights * Obc) + ($("#ObcHotel").val() * Obc));

            cont = cont + 4;
        }

        total = total + Number($("#ObcPickup").val()) + Number($("#ObcDelibery").val()) + Number($("#ObcOther").val()) + Number($("#ObcCustoms").val()) + Number($("#ObcProfit").val()) + Number($("#ObcWrapping").val());

        $("#ObcSellPrice").val(total);

        $("#tittle-summary").text('Summary ' + $("#Origin").val() + ' -------> ' + $("#Destination").val());
        $("#sumary-obc").text(ObcT);
        $("#sumary-day").text(DayT);
        $("#sumary-obc-fee").text(ObcFeeSuma.toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
        $("#sumary-flights").text(FlightsSuma.toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
        $("#sumary-hotel").text((ObcT * $("#ObcHotel").val()).toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
        $("#sumary-pickup").text(Number($("#ObcPickup").val()).toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
        $("#sumary-delibery").text(Number($("#ObcDelibery").val()).toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
        $("#sumary-customs").text(Number($("#ObcCustoms").val()).toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
        $("#sumary-wrapping").text(Number($("#ObcOther").val()).toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
        $("#sumary-profit").text(Number($("#ObcProfit").val()).toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
        $("#sumary-cost").text(total.toLocaleString('es-MX', {
            style: 'currency',
            currency: 'MXN'
        }));
    }

    function Completar(id) {
        $.ajax({
            url:'@Url.Action("Completar", "Mision")',
            type: "get",
            data: {
                id: id,
            },
            success: function (response) {
                init1(1);

                Swal.fire({
                    icon: 'success',
                    title: 'The mission was successfully complete.',
                    showConfirmButton: false,
                    timer: 1500
                });
            },
            error: function (xhr) {
                ////console.log(JSON.stringify(xhr));
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error has occurred when trying to approve the quote, please report it to the systems department.'
                });
            }
        });
    }

    function EliminarDetalle() {
        if (RowNumber > 0) {

            $("#Day" + RowNumber).parent().parent().remove();

            RowNumber = RowNumber - 1;
        }
        else {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'it is not possible to delete more rows',
                showConfirmButton: false,
                timer: 2500
            });
        }

        $("#ObcHotel").blur();
    }

    function AgregarDetalle() {
        RowNumber = RowNumber + 1;
        $("#DetalleConceptos").append('<tr>\
                                    <td><input type="text" class="form-control" id="NumObc'+ RowNumber + '"  name="NumObc' + RowNumber + '" aria-label="NumObc' + RowNumber + '"></td>\
                                    <td><input type="text" class="form-control" id="Day'+ RowNumber + '" name="Day' + RowNumber + '" aria-label="Day' + RowNumber + '"></td>\
                                    <td><input type="text" class="form-control" id="ObcFee'+ RowNumber + '" name="ObcFee' + RowNumber + '" aria-label="ObcFee' + RowNumber + '"></td>\
                                    <td><input type="text" class="form-control" id="Contenedor'+ RowNumber + '" name="Contenedor' + RowNumber + '" aria-label="Contenedor' + RowNumber + '"></td>\
                                </tr >');
    }

    function MissionModal() {

        $('#quotationModal').modal({
            backdrop: false,
            show: true
        });
    }

    function Edit(id, noAction) {
        $("#WhatsappGroup").text('');
    IsUpdate = true;
        CotizacionId = id;

        if (noAction == 1) {
            $("#btnSave").hide();
        }
        else {
            $("#btnSave").show();
        }

    $.ajax({
            url:'@Url.Action("FindMision", "Mision")',
            type: "get",
            data: {
                id: id,
            },
            success: function (response) {
                if (response.Context != null) {
                    PadreId = 0;
                    $('#cbx-cliente').val(response.Context.ClienteId);
                    $('#ClientRef').val(response.Context.ClientRef);
                    $('#Origin').val(response.Context.Origin);

                    $('#NumberOfPackages').val(response.Context.NumberOfPackages);
                    $('#Weight').val(response.Context.Weight);
                    $('#Description').val(response.Context.Description);

                    $('#Destination').val(response.Context.Destination);
                    $('#cbx-service').val(response.Context.Service).prop('disabled', false);
                    $("#cbx-service").trigger("change");
                    //console.log(JSON.stringify(response.Context.GrupoWhatsapp));
                    let x = response.Context.GrupoWhatsapp;
                    $("#WhatsappGroup").val(x);

                    $('#customer-poc').val(response.Context.CustomerPOC);
                    $('#ObcWrapping').val(response.Context.Wrapping);
                    $('#ObcUpdate').val(response.Context.UpdateMailWA);
                    $('#ObcPassportsTickets').val(response.Context.PassportsTickets);

                    switch ($('#cbx-service').val()) {
                        case '0':

                            break;
                        case '1':
                            ////console.log(JSON.stringify(response.Context));
                            while (RowNumber > 0) {
                                EliminarDetalle();
                            }

                            var tamTabla = $('#Conceptos input').length;
                            var cont = 0;
                            var aux = 0;

                            for (var i = 0; i < (tamTabla / 4); i++) {
                                if (aux == 0) {
                                    $('#Conceptos').find('td input').eq(cont).val(response.Context.QuotationDetails[0].Obc);
                                    $('#Conceptos').find('td input').eq(cont + 1).val(response.Context.QuotationDetails[0].Day);
                                    $('#Conceptos').find('td input').eq(cont + 2).val(response.Context.QuotationDetails[0].ObcFee);
                                    $('#Conceptos').find('td input').eq(cont + 3).val(response.Context.QuotationDetails[0].Flights);

                                    aux++;
                                }
                                cont = cont + 4;
                            }

                            for (var i = 1; i < response.Context.QuotationDetails.length; i++) {
                                RowNumber = RowNumber + 1;
                                $("#DetalleConceptos").append('<tr>\
                                        <td><input type="text" class="form-control" id="NumObc'+ RowNumber + '"  name="NumObc' + RowNumber + '" aria-label="NumObc' + RowNumber + '"  value="' + response.Context.QuotationDetails[i].Obc + '"></td>\
                                        <td><input type="text" class="form-control" id="Day'+ RowNumber + '" name="Day' + RowNumber + '" aria-label="Day' + RowNumber + '"  value="' + response.Context.QuotationDetails[i].Day + '"></td>\
                                        <td><input type="text" class="form-control" id="ObcFee'+ RowNumber + '" name="ObcFee' + RowNumber + '" aria-label="ObcFee' + RowNumber + '" value="' + response.Context.QuotationDetails[i].ObcFee + '"></td>\
                                        <td><input type="text" class="form-control" id="Contenedor'+ RowNumber + '" name="Contenedor' + RowNumber + '" aria-label="Contenedor' + RowNumber + '"  value="' + response.Context.QuotationDetails[i].Flights + '"></td>\
                                    </tr >');
                            }


                            $('#ComentariosTable').val(response.Context.CommentsTable);
                            $('#ComentariosHotel').val(response.Context.CommentsHotel);
                            $('#ComentariosPickup').val(response.Context.CommentsPickup);
                            $('#ComentariosDelibery').val(response.Context.CommentsDelibery);
                            $('#ComentariosCustom').val(response.Context.CommentsCustom);
                            $('#ComentariosOther').val(response.Context.CommentsOther);

                            $('#ObcHotel').val(response.Context.ObcHotel);
                            $('#ObcPickup').val(response.Context.ObcPickup);
                            $('#ObcDelibery').val(response.Context.ObcDelibery);
                            $('#ObcCustoms').val(response.Context.ObcCustoms);
                            $('#ObcOther').val(response.Context.ObcOther);
                            $('#ObcProfit').val(response.Context.ObcProfit);
                            $('#ObcSellPrice').val(response.Context.ObcSellPrice);
                            $('#ObcServiceType').val(response.Context.ObcServiceType);
                            $('#ObcPickupDate').val(moment(response.Context.ObcPickupDate).format('MM/DD/YYYY h:mm:ss a'));
                            $('#ObcDisclaimerEta').val(moment(response.Context.ObcDisclaimerEta).format('MM/DD/YYYY h:mm:ss a'));
                            $('#ObcSchedule').val(response.Context.ObcSchedule);
                            $('#ObcEB').val(response.Context.ObcEB);

                            $("#ObcHotel").trigger("blur");

                            break;
                        case '2':
                            $('#CharterServiceType').val(response.Context.CharterServiceType);
                            $('#CharterBuy').val(response.Context.CharterBuy);
                            $('#CharterAircraft').val(response.Context.CharterAircraft);
                            $('#CharterPositioning').val(response.Context.CharterPositioning);
                            $('#CharterRute').val(response.Context.CharterRute);
                            $('#CharterLiveLeg').val(response.Context.CharterLiveLeg);
                            $('#CharterCosts').val(response.Context.CharterCosts);
                            break;
                        case '3':
                            $('#NfoBuy').val(response.Context.NfoBuy);
                            $('#NfoOption').val(response.Context.NfoOption);
                            $('#NfoServiceType').val(response.Context.NfoServiceType);
                            $('#NfoAirline').val(response.Context.NfoAirline);
                            $('#NfoRute').val(response.Context.NfoRute);
                            $('#NfoCosts').val(response.Context.NfoCosts);
                            break;
                        case '4':
                            $('#HostshotBuy').val(response.Context.HostshotBuy);
                            $('#HostshotBuy').val(response.Context.HostshotBuy);
                            $('#HostshotOption').val(response.Context.HostshotOption);
                            $('#HostshotTransitTime').val(response.Context.HostshotTransitTime);
                            $('#HostshotCosts').val(response.Context.HostshotCosts);
                            break;
                    }

                    //MissionModal();

                }
            },
            error: function (xhr) {
                ////console.log(JSON.stringify(xhr));
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error has occurred when trying to get the quote, please report it to the systems department.'
                });
            }
    });
    }
    function AgregaProveedor(id, proveedorId, index) {
        let servicio = $("#cbx-servicioproveedor" + index).val();
        //console.log(JSON.stringify(servicio));
        $.ajax({
            url:'@Url.Action("AgregarProveedor", "Mision")',
            type: "get",
            data: {
                misionId: id,
                proveedorId: proveedorId,
                servicioId: servicio
            },
            success: function (response) {
                if (response.Code == -1) {
                    let mensaje = response.Message
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: mensaje
                    });
                }
                else {
                    GetProveedores(id);
                }
            },
            error: function (xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error has occurred when trying to add the provider, please report it to the systems department.'
                });
            }
        });
    }
    function EliminarProveedor(id, proveedorId, servicio) {
        $.ajax({
            url:'@Url.Action("EliminarProveedor", "Mision")',
            type: "get",
            data: {
                cotizacionId: id,
                proveedorId: proveedorId,
                servicio: servicio
            },
            success: function (response) {
                if (response.Code == -1) {
                    let mensaje = response.Message;
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: mensaje
                    });
                }
                else {

                    GetProveedores(id);
                }
            },
            error: function (xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error has occurred when trying to add the provider, please report it to the systems department.'
                });
            }
        });
    }
    function GetProveedores(id) {

        $.ajax({
            url:'@Url.Action("FindProvidersMision", "Mision")',
            type: "get",
            data: {
                id: id,
            },
            success: function (response) {
                if (response.Context != null) {

                    var table = $('#TableProveedor').DataTable();
                    table.destroy();
                    $("#Proveedores").html('');

                    $.each(response.Context, function (index, value) {
                        var detalle = '';

                        $("#Proveedores").append('<tr>\
                                                    <td>'+ value.Nombre + ' ' + value.ApellidoPaterno + ' ' + value.ApellidoMaterno + '</td>\
                                                    <td>'+ value.Servicio + '</td>\
                                                    <td><div onclick="EliminarProveedor('+ id + ', ' + value.Identifier + ', \'' + value.Servicio+'\')" class="btn btn-block btn-default"><i class="fa fa-exchange"  style="color:red"></i> Eliminar</div></td>\
                                                </tr>');

                    });

                    $('#TableProveedor').DataTable({
                        "dom": "Bfrtip",
                        "buttons": [
                            "excel"
                        ],
                        "pageLength": 10,
                        "searching": true,
                        "ordering": true,
                        "autoWidth": true
                    });





                }
            },
            error: function (xhr) {
                ////console.log(JSON.stringify(xhr));
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error has occurred when trying to get the providers, please report it to the systems department.'
                });
            }
        });


        $.ajax({
            url:'@Url.Action("FindProvidersAvailable", "Mision")',
            type: "get",
            data: {
                id: id,
            },
            success: function (response) {
                if (response.Context != null) {

                    var table = $('#TableProveedor2').DataTable();
                    table.destroy();
                    $("#Proveedores2").html('');

                    $.each(response.Context, function (index, value) {
                        var detalle = '';
                        var combo = '<select class="form-select rounded-start-0" id="cbx-servicioproveedor' + index +'" name="Client" required>@foreach (var item in Model.proveedorServicios){<option value="@item.Identifier">@item.Nombre</option>}</select>';

                        $("#Proveedores2").append('<tr>\
                                                    <td>'+ value.Nombre + ' ' + value.ApellidoPaterno + ' ' + value.ApellidoMaterno + '</td>\
                                                    <td>'+ combo + '</td>\
                                                    <td><div onclick="AgregaProveedor('+ id + ', ' + value.Identifier + ', ' + index + ')" class="btn btn-block btn-default"><i class="fa fa-exchange" style="color:green"></i> Agregar</div></td>\
                                                </tr>');

                    });

                    $('#TableProveedor2').DataTable({
                        "dom": "Bfrtip",
                        "buttons": [
                            "excel"
                        ],
                        "pageLength": 10,
                        "searching": true,
                        "ordering": true,
                        "autoWidth": true
                    });





                }
            },
            error: function (xhr) {
                //console.log(JSON.stringify(xhr));
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error has occurred when trying to get the providers, please report it to the systems department.'
                });
            }
        });
    }
    function init1(aux) {
            while (RowNumber > 0) {
                EliminarDetalle();
            }
            //Se crea la tabla de los conceptos
            $("#DetalleConceptos").html('');

            $("#DetalleConceptos").append('<tr>\
                                            <td><div class="input-group"><span class="input-group-text"><button class="btn btn-danger" type="button" onclick="EliminarDetalle()">-</button></span><input type="text" class="form-control" id="NumObc0"  name="NumObc0" aria-label="NumObc0"></div></td>\
                                            <td><input type="text" class="form-control" id="Day0" name="Day0" aria-label="Day0"></td>\
                                            <td><input type="text" class="form-control" id="ObcFee0" name="ObcFee0" aria-label="ObcFee0"></td>\
                                            <td><div class="input-group"><input type="text" class="form-control" id="Contenedor0" name="Contenedor0" aria-label="Contenedor0"><span class="input-group-text"><button class="btn btn-success" type="button" onclick="AgregarDetalle()">+</button></span></div></td>\
                                        </tr >')
        //Se crea la tabla de los conceptos

        $.ajax({
            type: 'GET',
            url:  '@Url.Action("GetMissions", "Mision")',
            success: function (data) {
                if (data != null) {
                    //if (aux == 0) {

                    //}
                    //else {
                    var table = $('#quotation').DataTable();

                    table.destroy();
                    //}

                    $("#body-quotations").html('');
                    //console.log(JSON.stringify(data.Context));

                    $.each(data.Context, function (index, value) {

                        let status = "";
                        let color = "";
                        let edit = '<td class="text-center"><i class="fa-solid fa-pencil" onclick="Edit(' + value.Identifier + ', ' + 0 +')" data-bs-toggle="modal" data-bs-target="#quotationModal"></i></td>';
                        let proveedores = '<td class="text-center"><i class="fa-solid fa-person" onclick=GetProveedores(' + value.Identifier + ');  data-bs-toggle="modal" data-bs-target="#proveedoresModal"></i></td>';
                        let aceptar = '<td style="text-align: center; "><a class="btn btn-xs" onclick="Completar(' + value.Identifier + ')" align="center"><i class="fa fa-check" style="color: green;"></i></a></td>';

                        switch (value.Status) {
                            case 1:
                                status = "On Hold";
                                color = "yellow";
                                break;
                            case 2:
                                status = "Active";
                                color = "orange";
                                break;
                            case 3:
                                status = "Rejected";
                                color = "red";
                                break;
                            case 4:
                                status = "Expired";
                                color = "gray";
                                break;
                            case 5:
                                proveedores = "<td></td>";
                                aceptar = '<td style="text-align: center; "><a class="btn btn-xs" onclick="reporte(' + value.Identifier + ')" align="center"><i class="fa fa-file" style="color: green;"></i></a></td>';
                                edit = '<td class="text-center"><i class="fa-solid fa-pencil" onclick="Edit(' + value.Identifier + ', ' + 1 + ')" data-bs-toggle="modal" data-bs-target="#quotationModal"></i></td>';
                                status = "Done";
                                color = "green";
                                break;
                            default:
                                status = "Undefined";
                                break;
                        }

                        //if (value.ServiceObject.Nombre == "OBC") {


                            //}

                        $("#body-quotations").append(
                            '<tr>\
                                    <td> '+ value.Referencia + ' </td>\
                                    <td> '+ moment(value.RegistradaEl).format('DD/MM/YYYY') + ' </td>\
                                    <td> '+ value.Client + ' </td>\
                                    <td> '+ value.ClientRef + ' </td>\
                                    <td> '+ value.Origin + ' </td>\
                                    <td> '+ value.Destination + ' </td>\
                                    <td> '+ value.ServiceObject.Nombre + ' </td>\
                                    <td style="color:'+color+'"> '+ status + ' </td>\
                                    '+ edit +'\
                                    '+ proveedores +'\
                                    '+ aceptar +'\
                            </tr >');
                    });

                    $('#quotation').DataTable({
                        "dom": "Bfrtip",
                        "buttons": [
                            "excel"
                        ],
                        "pageLength": 10,
                        "searching": true,
                        "ordering": true,
                        "autoWidth": true
                    });
                }
            }
        });
    }
    function reporte(id){
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            url: '@Url.Action("ReporteCierre", "Mision")',
            async: false,
			data: '{ Mision: ' + id + '}',
            dataType: 'json',
            success: function (data) {
                window.location.href = '@Url.Action("DownloadCierreMisionXls", "Mision")' + '?fileGuid=' + data.Context.FileGuid + '&fileName=' + data.Context.FileName;
			},
			error: function (data) {
				swal("Ha ocurrido un error: " + JSON.stringify(data));
			}
        });
    }
</script>

