@model Reporting.Service.Web.UI.Models.EmpresaUpdateViewModel

@{
    ViewBag.Title = "Empresa";
}

@section CustomStyles {
    <!-- Estilos específicos para esta vista, incluyendo Bootstrap v5 -->
    <!--
    <script type="text/javascript" language="javascript" src="~/Scripts/new/jquery-3.6.0.js"></script>
    <link href="~/Scripts/new/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/startbootstrap-sb-admin/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/new/css/dataTables.bootstrap5.min.css" />
    <script src="~/Scripts/new/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/new/dataTables.bootstrap5.min.js"></script>
    <link href="~/Scripts/new/css/buttons.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/Scripts/new/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/new/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/new/buttons.bootstrap5.min.js"></script>
    <script src="~/Scripts/new/jszip.min.js"></script>
    <script src="~/Scripts/new/pdfmake.min.js"></script>
    <script src="~/Scripts/new/vfs_fonts.js"></script>
    <script src="~/Scripts/new/buttons.html5.min.js"></script>
    <link href="~/Scripts/new/css/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/StylesStepper/stepper.css" />

    <script src="~/Scripts/new/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/startbootstrap-sb-admin/js/scripts.js"></script>
    <script src="~/Scripts/new/all.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/new/sweetalert2@11.js"></script>
    <script src="~/Scripts/new/moment.min.js"></script>
    <script src="~/Scripts/new/daterangepicker.min.js"></script>
    -->

    <link rel="stylesheet" href="~/StylesStepper/stepper.css" />
    <script src="~/Scripts/new/sweetalert2@11.js"></script>
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Companies</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Companies List</li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="box-header with-border">
                <i class="fa fa-database"></i>

                <h3 class="box-title">Companies</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <button onclick="CompanyModal()" id="openCompanyModal" class="btn btn-success">
                            New Company
                        </button>
                    </div>
                </div>
                <br>
                <div class="table table-responsive">
                    <table id="companyTable" class="table table-striped">
                        <thead>
                            <tr>
                                <td>IDENTIFIER</td>
                                <td>NAME</td>
                                <td>COMMERCIAL NAME</td>
                                <td>SHIPMENT ADDRESS</td>
                                <td>STATE</td>
                                <td>ACTIONS</td>
                            </tr>
                        </thead>
                        <tbody id="body-empresa"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalEmpresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Company</h5>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="">
                            <div class="alert alert-danger" role="alert" id="alert-required" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group"> 
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    <input class="form-control" id="nombre" type="text" placeholder="Name" autocomplete="off" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    <input class="form-control" id="razonSocial" type="text" placeholder="Commercial Name" autocomplete="off" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    <!--<div class="form-floating mb-3">
                        <label for="inputEmail">Address</label>
                    </div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <input class="form-control" id="entrega" type="text" placeholder="Shipment Address" autocomplete="off" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" onclick="insertOrUpdate(this);" id="btn-company-save" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

        load();

        $(document).ready(function () {
            $('#modalEmpresa').on('hidden.bs.modal', function (e) {
                cleanFields();
            })
        });

        function cleanFields() {
            $('#alert-required').attr("style", "display:none");
            $('#nombre').val("");
            $('#razonSocial').val("");
            $('#entrega').val("");
            $('#btn-company-save').html("Save");
        }

    function load() {
     // ObtenerEmpresas
        $.ajax({
            type: 'GET',
            url:  '@Url.Action("ObtenerEmpresas", "Empresa")',
            success: function (data) {
                if (data != null) {
                    //var table = $('#example').DataTable();
                    //table.destroy();
                    $("#body-empresa").html('');

                    $.each(data.Context, function (index, value) {
                        $("#body-empresa").append(
                            '<tr>\
                                    <td> '+ value.Identifier + ' </td>\
                                    <td> '+ value.Nombre + ' </td>\
                                    <td> '+ value.RazonSocial + ' </td>\
                                    <td> '+ value.Entrega + ' </td>\
                                    <td> '+ value.Estatus + ' </td>\
                                    <td class="text-center"><i class="fa fa-pencil" onclick=edit('+ value.Identifier + ');  data-bs-toggle="modal" data-bs-target="#modalEmpresa"></i> <i class="fa fa-trash" onclick=eliminar(' + value.Identifier + ');></i >\
                                    </td >\
                            </tr >');
                    });

                    $('#example').DataTable({
                        "dom": "Bfrtip",
                        "buttons": [
                            "excel", "pdf"
                        ],
                        "pageLength": 10,
                        "searching": true,
                        "ordering": true,
                        "autoWidth": true,
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                        }
                    });
                }
            }
        });
        }

    function CompanyModal() {
        $('#modalEmpresa').modal({
            backdrop: false,
            show: true
        });
    }

    function insertOrUpdate(e) {
        let action = $(e).html();
        if (action == 'Update') {
            console.log("Actualizando");
            update();
        } else {
            console.log("Insertando");
            insert();
        }
    }

    function edit(id) {
        CompanyModal();
            $.ajax({
                url:'@Url.Action("Edit", "Empresa")',
                type: "get", //send it through get method
                data: {
                    id: id,
                },
                success: function (response) {
                    $('#btn-company-save').html("Update");
                    if (response.Context != null) {
                        $('#id').val(response.Context.Identifier);
                        $('#nombre').val(response.Context.Nombre);
                        $('#razonSocial').val(response.Context.RazonSocial);
                        $('#entrega').val(response.Context.Entrega);
                    }
                },
                error: function (xhr) {
                    console.log(JSON.stringify(xhr));
                }
            })
    }

    function insert() {
        let nombre = $('#nombre').val();
        let razonSocial = $('#razonSocial').val();
        let entrega = $('#entrega').val();

        let objDataCompany = {
            "Name": nombre,
            "Commercial Name": razonSocial,
            "Shipment Address": entrega
        };

        let stringRequired = validateDataCompany(objDataCompany);

        if (stringRequired != "") {
            let stringMsgError = "<b>The following fields are required:</b><br>";
            $('#alert-required').attr("style","display:block");
            $('#alert-required').html(stringMsgError + stringRequired );
            return;
        } else {

            $.ajax({
                url: '@Url.Action("Insert", "Empresa")',
                type: "POST", //send it through get method
                data: {
                    Nombre: nombre,
                    RazonSocial: razonSocial,
                    Entrega: entrega
                },
                success: function (response) {
                    if (response.Code == 200) {
                        Swal.fire('The company has successfully registered');
                        load();
                        CierraPopup();
                    }
                    else {
                        console.log(JSON.stringify(response));
                    }
                },
                error: function (xhr) {
                    console.log(JSON.stringify(xhr));
                }
            })
        }
    }

    function validateDataCompany(dataCompany) {
        let stringRequiredFields = "";
        for (const key in dataCompany) {

            if (dataCompany[key] == "") {
                stringRequiredFields += key + "<br>";
            }

            console.log(`${key}: ${dataCompany[key]}`);
        }
        return stringRequiredFields;
    }

    function update() {
        let id = $('#id').val();
        let nombre = $('#nombre').val();
        let razonSocial = $('#razonSocial').val();
        let entrega = $('#entrega').val();

        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Update", "Empresa")',
            async: false,
            timeout: 3000,
            type: 'POST',
            data: '{"Identifier":"' + id + '","Nombre":"' + nombre + '","RazonSocial":"' + razonSocial + '","Entrega":"' + entrega + '"}',
            dataType: "json",
            success: function (data) {
                if (data.Code == 200) {
                    Swal.fire('The company has successfully updated');
                    CierraPopup();
                    load();
                }
                else {
                    console.log(JSON.stringify(response));
                }
            },
            error: function () {
                alert("Error en la api: Update Empresa");
            }
        });
    }

    function CierraPopup() {
        /*
        $("#modalEmpresa").modal('hide');//ocultamos el modal
        $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
        $('.modal-backdrop').remove();//eliminamos el backdrop del modal
        */
        $('.btn-close').trigger('click');
    }

    function eliminar(id) {
        $.ajax({
                url:'@Url.Action("Eliminar", "Empresa")',
                type: "get", //send it through get method
                data: {
                    id: id,
                },
            success: function (response) {
                if (response.Code == 200) {
                    load();
                }
                else {
                    console.log(JSON.stringify(response));
                }
                },
                error: function (xhr) {
                    console.log(JSON.stringify(xhr));
                }
            })
    }

</script>
