
@model Reporting.Service.Web.UI.Models.UserModel

@using Microsoft.AspNet.Identity
@using Reporting.Service.Core.Common

<style>
</style>

<script>
    var Selector = {
        tree: '.tree',
        treeview: '.treeview',
        treeviewMenu: '.treeview-menu',
        open: '.menu-open, .active',
        li: 'li',
        data: '[data-widget="tree"]',
        active: '.active'
    };
</script>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@Model.CodigoEmpleado" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">FLUX - ASG</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                    <span>Quotation</span>
                    <span class="pull-right-container">
                        @*<i class="fa fa-angle-left pull-right"></i>*@
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Cotizacion")"><i class="fa fa-cart-plus"></i>Quotations</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i>
                    <span>Mision</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Mision")"><i class="fa fa-money"></i>Misions</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-address-book"></i>
                    <span>Roles</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","Roles")"><i class="fa fa-circle"></i>Roles</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>Empresas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","Empresa")"><i class="fa fa-circle"></i>Empresas</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Users</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","Usuario")"><i class="fa fa-circle"></i>Users</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Customers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","Cliente")"><i class="fa fa-circle"></i>Customers</a></li>
                </ul>
            </li>

            
            
            
            

            @*@foreach (var item in this.Model.Menu.modulos)
        {
            <li class="treeview">
                <a href="#">
                    <i class="@item.Icon"></i>
                    <span>@item.Nombre</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @foreach (var item2 in item.vistas)
                    {
                        <li><a href="@Url.Action(item2.View,item2.Controller)"><i class="@item2.Icon"></i>@item2.Nombre</a></li>

                    }
                    <li class="treeview">
                        @foreach (var item3 in item.submodulos)
                        {
                            <a href="#">
                                <i class="@item3.Icon"></i>
                                <span>@item3.Nombre</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @foreach (var item4 in item3.vistas)
                                {
                                    <li><a href="@Url.Action(item4.View, item4.Controller)"><i class="@item4.Icon"></i>@item4.Nombre</a></li>
                                }
                            </ul>
                        }
                    </li>
                </ul>
            </li>
        }*@
        </ul>
    </section>
</aside>