@{
    ViewBag.Title = "Pagos";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>

<section class="content-header">
    <h1>
        Autorización
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Pagos</a></li>
        <li class="active">Autorización</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Aprobación de pedidos</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Documento</th>
                                <th>Referencia</th>
                                <th>Codigo</th>
                                <th>Cliente</th>
                                <th>Fecha</th>
                                <th>Total</th>
                                <th>Pagado</th>
                                <th>Pendiente</th>
                                <th></th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                        <tbody id="Resultados">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="Pagos" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle de pago(s)</h4>
            </div>
            <div class="modal-body">
                <div id="ContentImagen" class="row-fluid">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Sequence</th>
                                <th>Tipo de pago</th>
                                <th>Banco</th>
                                <th>FechaDeposito</th>
                                <th>Monto</th>
                                <th style="width:200px"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="detalle"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    InitModule();
    var formatNumber = {
        separador: ",", // separador para los miles
        sepDecimal: '.', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }
    function verificar(sequence) {
        $.post('@Url.Action("GetPagosParciales", "Pagos")', {
            Documento: sequence
        }, function (data) {
            datos = data;
            if (data.Context != null && $.isArray(data.Context)) {
                $("#detalle").html('');
                var imagen = "";
                $.each(data.Context, function (index, value) {
                    if (value.Imagen != "")
                        imagen = '<div style="width:200px"> <div class="row"><div class="col-md-6"><a data-fancybox="gallery" href="data:image/png;base64,' + value.Imagen + '"><img width="100" src="data:image/png;base64,' + value.Imagen + '"></a> </div></div></div>';

                    var color = "";
                    var boton = "";

                    if (value.Aplicado == 1) {
                        color = "danger";
                        boton = "";
                    } else {
                        color = "success";
                        boton = '<div onclick="aprobar2(' + value.Sequence + ', \'' + value.Documento + '\', \'' + value.Origen + '\' , \'' + value.Monto.toFixed(2) +'\')" class="btn btn-block btn-success"><i class="fa fa-check"></i></div>';
                    }

                    $("#detalle").append('<tr class="' + color +'">\
                                                <td><div onclick="Eliminar(' + value.Sequence + ')" class="btn btn-block btn-danger"><i class="fa fa-remove"></i></div></td>\
                                                <td>'+ value.Sequence + '</td>\
                                                <td>'+ value.TipoPago + '</td>\
                                                <td>'+ value.Banco + '</td>\
                                                <td>'+ value.FechaDeposito + '</td>\
                                                <td>'+ formatNumber.new(value.Monto.toFixed(2), "$") + '</td>\
                                                <td>'+ imagen +'</td>\
                                                <td>'+ boton +'</td>\
                                            </tr >');

                });
                $('#Pagos').modal({
                    backdrop: false,
                    show: true
                });
            } else {
                $.alert("Ocurrio un error al procesar la peticion. Detalles: " + data.Message);
            }
        });
    };
    function Eliminar(sequence) {
        $.post('@Url.Action("EliminarPago", "Pagos")', {
            Sequence: sequence
        }, function (data) {
                if (data.Context == true) {
                    $.alert("El pago se eliminó correctamente.");
                    InitModule();
                } else {
                    $.alert("Ocurrio un error al procesar la peticion. Detalles: " + data.Message);
                }
        });
    };

    function InitModule() {
         $.post('@Url.Action("GetDocumentosPagados", "Pagos")', function (data) {
            if (data != null && $.isArray(data.Context)) {
                $("#Resultados").html('');
                var color = ""
                $.each(data.Context, function (index, value) {
                    if (value.Saldo > 0) {
                        color = "danger";
                    } else {
                        color = "success";
                    }


                    $("#Resultados").append('<tr class="' + color +'">\
                                                <th> #'+ value.Folio + '</th>\
                                                <td>'+ value.Documento +'</td>\
                                                <td>'+ value.Referencia +'</td>\
                                                <td>'+ value.Codigo +'</td>\
                                                <td>'+ value.Nombre +'</td>\
                                                <td>'+ value.Fecha +'</td>\
                                                <td>'+ formatNumber.new(value.Total.toFixed(2), "$")+'</td>\
                                                <td>'+ formatNumber.new(value.Pagado.toFixed(2), "$")+'</td>\
                                                <td>'+ formatNumber.new(value.Saldo.toFixed(2), "$")+'</td>\
                                                <td><div onclick="verificar('+ value.Folio +')" class="btn btn-block btn-info"><i class="fa fa-eye"></i> Verificar pago(s)</div>\</td>\
                                                <td style="display:none">\
                                                    <input type="hidden" id="input-'+ value.Folio + '" value="' + value.Saldo +'">\
                                                    <div onclick="aprobar('+ value.Folio + ', ' + value.Pagado + ', \'' + value.Documento +'\' )" class="btn btn-block btn-success"><i class="fa fa-check"></i></div>\
                                                </td>\
                                            </tr>');
                    $("#btnGroupPago").show();
                });

            }else{
                $.alert("Ocurrio un error al procesar la solicitud");
            }
        });
    }

    function aprobar2(sequence, documento, origen, monto) {
        var pendiente = $("#input-" + documento).val();

        var color = "";
        var mensaje = "";
        if (pendiente > 0) {
            color = "red";
            mensaje = "Existe un saldo pendiente de $"+pendiente+" en el documento que quiere aprobar. ¿Desea Continuar?";
        } else {
            color = "green";
            mensaje = "¿Esta seguro de que desea continuar?";
        }

            $.confirm({
                title: 'Confirmar',
                content: mensaje,
                type: color,
                buttons: {
                    Confirmar: function () {

                        $.post('@Url.Action("UpdatePagoParcial", "Pagos")', {
                            Sequence: sequence,
                            Documento: documento,
                            Origen: origen,
                            Monto: monto
                            }, function (data) {
                                datos = data;
                                if (data.Context == true) {
                                    $.alert("El pago se autorizo correctamente.");
                                } else {
                                    $.alert("Ocurrio un error al procesar la peticion. Detalles: " + data.Message);
                                }
                        });

                    },
                    Cancelar: function () {

                    }
                }
            });
    }

     function aprobar(sequence, pagado, documento) {
        var pendiente = $("#input-" + sequence).val();

        var color = "";
        var mensaje = "";
        if (pendiente > 0) {
            color = "red";
            mensaje = "Existe un saldo pendiente de $"+pendiente+" en el documento que quiere aprobar. ¿Desea Continuar?";
        } else {
            color = "green";
            mensaje = "¿Esta seguro de que desea continuar?";
        }

            $.confirm({
                title: 'Confirmar',
                content: mensaje,
                type: color,
                buttons: {
                    Confirmar: function () {

                        $.post('@Url.Action("UpdatePedido", "Pagos")', {
                            Documento: sequence,
                            Pagado: pagado,
                            TipoDocumento: documento
                            }, function (data) {
                                datos = data;
                                if (data.Context == true) {
                                    $.alert("El pedido se actualizo correctamente.");
                                } else {
                                    $.alert("Ocurrio un error al procesar la peticion. Detalles: " + data.Message);
                                }
                        });

                    },
                    Cancelar: function () {

                    }
                }
            });
    }
</script>