@{
    ViewBag.Title = "Alta Cuentas";
}
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
<section class="content-header">
    <h1>
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Cuentas</a></li>
        <li class="active">Alta</li>
    </ol>
</section>
<style>
    .has-success {
        border-color: #00a65a;
        box-shadow: none;
    }

    .has-error {
        border-color: #dd4b39;
        box-shadow: none;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">CUENTAS</h3>
                </div>
                <div class="box-body">
                    <form method="post" id="frmCuenta" name="frmCuenta" enctype="multipart/form-data">

                        <h5 style="font-size: 15px; text-align: center;" class="page-header">DATOS GENERALES</h5>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Empresa</label>
                                    <select id="Empresa" name="Empresa" class="form-control input-sm">
                                        <option selected value="0">-- Seleccione una opción --</option>
                                        <option value="parkoiwa">PARKOIWA</option>
                                        <option value="massriv">MASSRIV</option>
                                        <option value="steuben">STEUBEN</option>
                                        <option value="okku">OKKU</option>
                                        <option value="anmil">ANMIL</option>
                                        <option value="prare">PRARE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <select id="Tipo" name="Tipo" class="form-control input-sm">
                                        <option selected value="0">-- Seleccione una opción --</option>
                                        <option value="C">Cliente</option>
                                        <option value="S">Proveedor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>CODIGO</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-btn">
                                            <button type="button" data-toggle="modal" data-target="#modalCuentas" class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
                                        </div>
                                        <input id="Codigo" name="Codigo" readonly onkeyup="return ValidaMayusculas(this);" type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <div id="btnGenerar" class="btn btn-info btn-flat"><i class="fa fa-refresh"></i></div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input name="Nombre" id="Nombre" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre Extranjero</label>
                                    <input name="Extranjero" id="Extranjero" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>RFC</label>
                                    <input name="Rfc" id="Rfc" onkeyup="return ValidarRFC(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Grupo</label>
                                    <select id="Grupo" name="Grupo" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="col-md-2 hide">
                                <div class="form-group">
                                    <label>Moneda</label>
                                    <input type="text" id="Moneda" name="Moneda" class="form-control input-sm" value="##">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Comprador</label>
                                    <select id="Comprador" name="Comprador" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input id="Email" name="Email" type="email" class="form-control input-sm frm">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Telefono 1</label>
                                    <input id="Telefono" name="Telefono" onkeypress="return validaNumericos(event, 14);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Movil</label>
                                    <input id="Movil" name="Movil" onkeypress="return validaNumericos(event, 14);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3 hidden">
                                <div class="form-group">
                                    <label>FAX</label>
                                    <input id="FAX" name="FAX" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Sitio WEB</label>
                                    <input id="SitioWEB" name="SitioWEB" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div id="CListaPrecio" class="col-md-2">
                                <div class="form-group">
                                    <label>Lista de Precio</label>
                                    <select id="ListaPrecio" name="ListaPrecio" class="form-control input-sm">
                                    </select>
                                </div>
                            </div>
                            <div id="CImpuestos" class="col-md-2">
                                <div class="form-group">
                                    <label>Impuestos</label>
                                    <select id="Impuestos" name="Impuestos" class="form-control input-sm">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Condiciones de pago</label>
                                    <select id="CondicionesPago" name="CondicionesPago" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div id="CFletera" class="col-md-2">
                                <div class="form-group">
                                    <label>Fletera</label>
                                    <select id="Fletera" name="Fletera" class="form-control input-sm">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <h4 style="font-size: 15px; text-align: center;" class="page-header">CONDICIONES DE PAGO</h4>
                        <div class="row">
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nombre del banco</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" id="BancoNombre" name="BancoNombre" class="form-control btn-flat frm">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn-flat" data-toggle="modal" data-target="#modalBanco"><i class="fa fa-binoculars"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Pais del banco</label>
                                    <input type="text" id="BancoPais" name="BancoPais" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Codigo del banco</label>
                                    <input id="BancoCodigo" name="BancoCodigo" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Codigo (BIC/SWIFT)</label>
                                    <input id="BancoSwift" name="BancoSwift" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Cuenta</label>
                                    <input id="BancoCuenta" name="BancoCuenta" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Beneficiario</label>
                                    <input name="BancoBeneficiario" id="BancoBeneficiario" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                        </div>
                        <h4 style="font-size: 15px; text-align: center;" class="page-header">DATOS DE CONTACTO</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input id="ContactoId" name="ContactoId" type="hidden" class="form-control frm">
                                    <input id="ContactoNombre" name="ContactoNombre" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Segundo Nombre</label>
                                    <input id="ContactoSNombre" name="ContactoSNombre" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Apellido</label>
                                    <input id="ContactoApellido" name="ContactoApellido" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Titulo</label>
                                    <input id="ContactoTitulo" name="ContactoTitulo" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Telefono</label>
                                    <input id="ContactoTelefono" name="ContactoTelefono" onkeypress="return validaNumericos(event, 14);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Celular</label>
                                    <input name="ContactoCelular" id="ContactoCelular" onkeypress="return validaNumericos(event, 14);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3 hidden">
                                <div class="form-group">
                                    <label>FAX</label>
                                    <input name="ContactoFax" id="ContactoFax" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input name="ContactoEmail" id="ContactoEmail" type="email" class="form-control input-sm frm">
                                </div>
                            </div>
                        </div>

                        <h4 style="font-size: 15px; text-align: center;" class="page-header">Dirección (BILL TO)</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pais</label>
                                    <input id="MId" name="MId" type="hidden" value="Bill to" class="form-control">
                                    <select id="MPais" name="MPais" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select id="MEstado" name="MEstado" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input id="MCiudad" name="MCiudad" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Colonia</label>
                                    <input id="MColonia" name="MColonia" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Concado</label>
                                    <input id="MCondado" name="MCondado" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Codigo Postal</label>
                                    <input id="MCodigoPostal" name="MCodigoPostal" onkeypress="return validaNumericos(event, 9);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Calle y No.</label>
                                    <input id="MCalle" name="MCalle" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Edificio/Planta/Sala</label>
                                    <input id="MEdificio" name="MEdificio" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                        </div>

                        <h4 style="font-size: 15px; text-align: center;" class="page-header">Dirección (SHIP TO)</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pais</label>
                                    <input id="STId" name="STId" type="hidden" value="Matriz" class="form-control">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-btn">
                                            <div id="btnCopiar" class="btn btn-default btn-flat"><i class="fa fa-copy"></i></div>
                                        </span>
                                        <select id="STPais" name="STPais" class="form-control input-sm"></select>
                                    </div>

                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select id="STEstado" name="STEstado" class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input id="STCiudad" name="STCiudad" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Colonia</label>
                                    <input id="STColonia" name="STColonia" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Concado</label>
                                    <input id="STCondado" name="STCondado" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Codigo Postal</label>
                                    <input id="STCodigoPostal" name="STCodigoPostal" onkeypress="return validaNumericos(event, 9);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Calle y No.</label>
                                    <input id="STCalle" name="STCalle" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Edificio/Planta/Sala</label>
                                    <input id="STEdificio" name="STEdificio" onkeyup="return ValidaMayusculas(this);" type="text" class="form-control input-sm frm">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="box-footer">

                    <div id="btnNuevo" class="btn btn-info pull-left"><i class="fa fa-clone"></i> NUEVO REGISTRO</div>
                    <div id="btnSave" class="btn btn-success pull-right"><i class="fa fa-save"></i> GUARDAR</div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Listado de cuentas</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Empresa</th>
                                            <th>Tipo</th>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>RFC</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-Cuentas">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div id="AprobacionRefresh" style="display:none;" class="overlay">
                        <i class="fa  fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modalBanco">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Buscar Banco</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table table-responsive">
                            <table id="Bancos" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td class="col-md-8">Código</td>
                                        <td class="col-md-4">Nombre</td>
                                        <td class="col-md-4">Pais</td>
                                        <td class="col-md-4"></td>
                                        <td class="col-md-4"></td>
                                    </tr>
                                </thead>
                                <tbody id="table-bancos">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCuentas">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Buscar Cuenta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Ingrese código o nombre</label>
                            <div class="input-group input-group-sm">
                                <input id="cuenta" name="cuenta" type="text" class="form-control">
                                <span class="input-group-btn">
                                    <div onclick="FindAccount()" class="btn btn-default btn-flat"><i class="fa fa-download"></i></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table table-responsive">
                            <table id="Cuentas" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td class="col-md-2">Código</td>
                                        <td class="col-md-8">Nombre</td>
                                        <td class="col-md-2"></td>
                                    </tr>
                                </thead>
                                <tbody id="table-cuentas">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    InitModule();

    $("#btnNuevo").click(function () {

        Limpiar();
    });

    $("#btnCopiar").click(function () {
        $.LoadingOverlay("show");
        $("#STPais").val($("#MPais").val());
        $("#STPais").change();
        setTimeout(function () {
            $("#STEstado").val($("#MEstado").val());
            $.LoadingOverlay("hide");
        }, 5000);
        $("#STCiudad").val($("#MCiudad").val());
        $("#STColonia").val($("#MColonia").val());
        $("#STCondado").val($("#MCondado").val());
        $("#STCodigoPostal").val($("#MCodigoPostal").val());
        $("#STCalle").val($("#MCalle").val());
        $("#STEdificio").val($("#MEdificio").val());
    });

    $("#btnGenerar").click(function(){
        $.post('@Url.Action("GetCode", "Provider")', {
            Empresa: $("#Empresa").val(),
            Tipo: $("#Tipo").val()
        }, function (data) {
                $("#Codigo").val(data.Context);
                //GetData($("#Empresa").val(), 'Grupo', 'Grupo');
                //GetData($("#Empresa").val(), 'Moneda', 'Moneda');
                GetData($("#Empresa").val(), 'Comprador', 'Comprador');
                GetData($("#Empresa").val(), 'Condiciones', 'CondicionesPago');
                GetData($("#Empresa").val(), 'Paises', 'MPais');
                GetData($("#Empresa").val(), 'Paises', 'STPais');
                ListBancos();

                //Validar si es necesario
                GetData($("#Empresa").val(), 'ListaPrecios', 'ListaPrecio');
                GetData($("#Empresa").val(), 'Impuestos', 'Impuestos');
                GetData($("#Empresa").val(), 'Fletera', 'Fletera');

                GetGrupos($("#Empresa").val(), $("#Tipo").val(), 'Grupo', 'Grupo');

                if ($("#Tipo").val() == 'C') {
                    $("#CListaPrecio").show();
                    $("#CImpuestos").hide();
                } else {

                    $("#CListaPrecio").hide();
                    $("#CImpuestos").show();
                }

                $("#CFletera").hide();
                if ($("#Tipo").val() == 'C' && $("#Empresa").val() == 'massriv') {
                    $("#CFletera").show();
                }


                $('.frm').each(function (i, obj) {
                    if ($(this).val() == '')
                        $(this).val('');
                });

        });
    });

    $("#STPais").change(function () {

        var pais = $(this).val();

        GetEstados($("#Empresa").val(), pais, 'Estados', 'STEstado');

    });
    $("#MPais").change(function () {

        var pais = $(this).val();

        GetEstados($("#Empresa").val(), pais, 'Estados', 'MEstado');

    });

    function GetGrupos(empresa, cuenta, tipo, elemento ) {
        $.post('@Url.Action("GetAditionalData", "Provider")', {
            Empresa: empresa,
            Tipo: tipo,
            TipoCuenta: cuenta
        }, function (data) {
                if (data.Context != null && $.isArray(data.Context)) {
                    $("#" + elemento).html('<option value="0" selected>-- Seleccione una opción --</option>');
                $.each(data.Context, function (index, value) {
                    $("#" + elemento).append("<option value='" + value.Codigo + "'>" + value.Nombre + "</option>");
                });
            }
        });
    }

    function GetEstados(empresa, pais, tipo, elemento ) {
        $.post('@Url.Action("GetAditionalData", "Provider")', {
            Empresa: empresa,
            Tipo: tipo,
            Pais: pais
        }, function (data) {
                if (data.Context != null && $.isArray(data.Context)) {
                    $("#" + elemento).html('<option value="0" selected>-- Seleccione una opción --</option>');
                $.each(data.Context, function (index, value) {
                    $("#" + elemento).append("<option value='" + value.Codigo + "'>" + value.Nombre + "</option>");
                });
            }
        });
    }

    $("#Empresa").change(function () {
        Limpiar();
        $("#Tipo").val(0);
        $("#Codigo").val('');
    });
    $("#Tipo").change(function () {
        Limpiar();
        $("#Codigo").val('');
    });

    function Limpiar() {
        //$("#Empresa").val(0);
        //$("#Tipo").val(0);
        $('.frm').each(function (i, obj) {
            if ($(obj).val() == '')
                $(obj).val('');
        });

        $("#Nombre").val("");
        $("#Extranjero").val("");
        $("#Rfc").val("");
        $("#Email").val("");
        $("#Telefono").val("");
        $("#Movil").val("");
        $("#SitioWEB").val("");
        $("#BancoNombre").val("");
        $("#BancoPais").val("");
        $("#BancoCodigo").val("");
        $("#BancoSwift").val("");
        $("#BancoCuenta").val("");
        $("#BancoBeneficiario").val("");
        $("#ContactoNombre").val("");
        $("#ContactoSNombre").val("");
        $("#ContactoApellido").val("");
        $("#ContactoTitulo").val("");
        $("#ContactoTelefono").val("");
        $("#ContactoCelular").val("");
        $("#ContactoEmail").val("");

        $("#MCiudad").val("");
        $("#MColonia").val("");
        $("#MCondado").val("");
        $("#MCodigoPostal").val("");
        $("#MCalle").val("");
        $("#MEdificio").val("");

        $("#STCiudad").val("");
        $("#STColonia").val("");
        $("#STCondado").val("");
        $("#STCodigoPostal").val("");
        $("#STCalle").val("");
        $("#STEdificio").val("");


        $("#Grupo").html('');
        $("#Comprador").html('');
        $("#ListaPrecio").html('');
        $("#Impuestos").html('');
        $("#Fletera").html('');
        $("#CondicionesPago").html('');

        $("#STPais").html('');
        $("#STEstado").html('');
        $("#MPais").html('');
        $("#MEstado").html('');

    }

    $("#btnSave").click(function (e) {

        if ($("#ListaPrecio").val() == "" || $("#ListaPrecio").val() == null) {

            $("#ListaPrecio").val(0);
        }

        if ($("#Impuestos").val() == "" || $("#Impuestos").val() == null) {
            $("#Impuestos").val(0);
        }

        if ($("#Fletera").val() == "" || $("#Fletera").val() == null) {
            $("#Fletera").val(0);
        }
        
        if ($("#Rfc").val().length < 12 || $("#Rfc").val().length > 13) {
            $.alert("El RFC debe contar con 12 ó 13 caracteres");
            return;
        }
 
        if ($("#Grupo").val() == "0" || $("#Grupo").val() == "") {
            $.alert("El grupo es obligatorio.");
            $("#Grupo").focus();
            return;
        }

        if ($("#Comprador").val() == "0" || $("#Comprador").val() == "") {
            $.alert("El Comprador es obligatorio.");
            $("#Comprador").focus();
            return;
        }

        if ($("#CondicionesPago").val() == "0" || $("#CondicionesPago").val() == "") {
            $.alert("Las condiciones de pago son obligatorias.");
            $("#CondicionesPago").focus();
            return;
        }

        if ($("#MPais").val() == "0" || $("#MPais").val() == "") {
            $.alert("El país es obligatorio.");
            $("#MPais").focus();
            return;
        }

        if ($("#MEstado").val() == "0" || $("#MEstado").val() == "") {
            $.alert("El estado es obligatorio.");
            $("#MEstado").focus();
            return;
        }

        if ($("#STPais").val() == "0" || $("#STPais").val() == "") {
            $.alert("El país es obligatorio.");
            $("#STPais").focus();
            return;
        }

        if ($("#STEstado").val() == "0" || $("#STEstado").val() == "") {
            $.alert("El estado es obligatorio.");
            $("#STEstado").focus();
            return;
        }

        if ($("#Tipo").val() == 'C') {
            if ($("#ListaPrecio").val() == "0" || $("#ListaPrecio").val() == "") {
                $.alert("La lista de precios es obligatoria.");
                $("#ListaPrecio").focus();
                return;
            }

            if ($("#BancoNombre").val() == "") {
                $("#BancoNombre").val("-");
                $("#BancoPais").val("-");
                $("#BancoCodigo").val("-");
                $("#BancoSwift").val("-");
            }

            if ($("#BancoCuenta").val() == "") {
                $("#BancoCuenta").val("-");
            }

            if ($("#BancoBeneficiario").val() == "") {
                $("#BancoBeneficiario").val("-");
            }

        } else {

            if ($("#Impuestos").val() == "0" || $("#Impuestos").val() == "") {
                $.alert("Los impuestos son obligatorios.");
                $("#Impuestos").focus();
                return;
            }

            if ($("#BancoNombre").val() == "" ) {
                $.alert("El banco es obligatorio.");
                $("#BancoNombre").focus();
                return;
            }

            if ($("#BancoCuenta").val() == "") {
                $.alert("La cuenta es obligatoria.");
                $("#BancoCuenta").focus();
                return;
            }

            if ($("#BancoBeneficiario").val() == "") {
                $.alert("El beneficiario es obligatorio.");
                $("#BancoBeneficiario").focus();
                return;
            }
            


        }

        if ($("#Tipo").val() == 'C' && $("#Empresa").val() == 'massriv') {
            if ($("#Fletera").val() == "0" || $("#Fletera").val() == "") {
                $.alert("La Fletera es obligatoria.");
                $("#Fletera").focus();
                return;
            }
        }
        
        $.LoadingOverlay("show");
        var formData = new FormData($("#frmCuenta")[0]);
        console.log(formData);


            $.ajax({
                url: "@Url.Action("Guardar", "Provider")",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {

                    if (data.Code == 0) {
                        $.alert("La cuenta se registro con el folio: [" + data.Context + "]. El documento pasará por un flujo para su aprobación.");
                        $.LoadingOverlay("hide");
                    } else {
                        $.alert(data.Message);
                        $.LoadingOverlay("hide");
                    }

                    GetMisCuentas();
                    $.LoadingOverlay("hide");
                }
            });
    });

    function ListBancos() {
        $.post('@Url.Action("GetAditionalData", "Provider")', {
            Empresa: $("#Empresa").val(),
            Tipo: 'Banco'
        }, function (data) {
                console.log(data);
            if (data.Context != null && $.isArray(data.Context)) {

                var table = $('#Bancos').DataTable();
                table.destroy();

                $("#table-bancos").html('');
                $.each(data.Context, function (index, value) {
                    $("#table-bancos").append('<tr>\
                                                        <td>' + value.Codigo + '</td>\
                                                        <td>' + value.Nombre + '</td>\
                                                        <td>' + value.Pais + '</td>\
                                                        <td>' + value.Swift + '</td>\
                                                        <td><button type="button" onclick="SeleccionarBanco(\''+ value.Codigo + '\', \'' + value.Nombre + '\', \'' + value.Pais + '\',\'' + value.Swift + '\' )" class="btn btn-block btn-default"><i class="fa fa-thumb-tack"><i> Seleccionar</button></td>\
                                                    </tr>');
                });
                $('#Bancos').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                        }
                });
            }
        });

    }

    function SeleccionarBanco(Codigo, Nombre, Pais, Swift) {

        $("#BancoNombre").val(Nombre);
        $("#BancoPais").val(Pais);
        $("#BancoCodigo").val(Codigo);
        $("#BancoSwift").val(Swift);

        $('#modalBanco').modal('hide');

    }

    function InitModule() {
        Limpiar();
        GetMisCuentas();
    }

    function GetData(empresa, tipo, elemento) {
        $.post('@Url.Action("GetAditionalData", "Provider")', {
            Empresa: empresa,
            Tipo: tipo
        }, function (data) {
                if (data.Context != null && $.isArray(data.Context)) {
                    $("#" + elemento).html('<option value="0" selected>-- Seleccione una opción --</option>');
                $.each(data.Context, function (index, value) {
                    $("#" + elemento).append("<option value='" + value.Codigo + "'>" + value.Nombre + "</option>");
                });
            }
        });
    }

    function ValidarRFC(element) {
        if (element.value.length == 12 || element.value.length == 13) {

            $(element).addClass('has-success');
            $(element).removeClass('has-error');
        } else {
            $(element).addClass('has-error');
            $(element).removeClass('has-success');
            var myString = $(element).val();
            $(element).val(myString.substring(0, 13).toUpperCase());
        }


    }

    function validaNumericos(event, caracteres) {
        if (event.charCode >= 48 && event.charCode <= 57) {
            
            console.log(event.target.id);
            var myString = $("#" + event.target.id).val();
            $("#" + event.target.id).val(myString.substring(0, caracteres));
            return true;
        }
        return false;    
    }
    function ValidaMayusculas(e) {
        e.value = e.value.toUpperCase();
    }
    function ValidaDecimal(evt, input) {
        // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
        var key = window.Event ? evt.which : evt.keyCode;
        var chark = String.fromCharCode(key);
        var tempValue = input.value + chark;
        if (key >= 48 && key <= 57) {
            if (filter(tempValue) === false) {
                return false;
            } else {
                return true;
            }
        } else {
            if (key == 8 || key == 13 || key == 0) {
                return true;
            } else if (key == 46) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
    }
    function filter(__val__) {
        var preg = /^([0-9]+\.?[0-9]{0,2})$/;
        if (preg.test(__val__) === true) {
            return true;
        } else {
            return false;
        }

    }


    function GetMisCuentas() {
        $.post('@Url.Action("GetMisCuentasPendientes", "Provider")', function (data) {
            if (data.Context != null && $.isArray(data.Context)) {

                $("#table-Cuentas").html('');
                $.each(data.Context, function (index, value) {

                    $("#table-Cuentas").append('<tr>\
                                                        <td>'+ value.Sequence+'</td>\
                                                        <td>'+ value.Empresa +'</td>\
                                                        <td>'+ value.Tipo +'</td>\
                                                        <td>'+ value.Codigo +'</td>\
                                                        <td>'+ value.Nombre + '</td>\
                                                        <td>'+ value.RFC +'</td>\
                                                        <td>\
                                                            <div onclick="Editar('+ value.Sequence +')" class="btn btn-block btn-default"><i class="fa fa-pencil"></i> Editar datos</div>\
                                                        </td>\
                                                    </tr>');
                });

            }
        });

    }

    function Editar(Sequence) {
        $.LoadingOverlay("show");
        $.post('@Url.Action("FindMiCuenta", "Provider")', {
            Sequence: Sequence
        }, function (data) {
                console.log(data.Context);
                $('#Empresa').val(data.Context.Empresa);
                $('#Tipo').val(data.Context.Tipo);
                $("#btnGenerar").click();
                setTimeout(function () {
                    $('#Codigo').val(data.Context.Codigo);
                    $('#Nombre').val(data.Context.Nombre);
                    $('#Extranjero').val(data.Context.Extranjero);
                    $('#Rfc').val(data.Context.RFC);
                    $('#Grupo').val(data.Context.Grupo);
                    $('#Moneda').val(data.Context.Moneda);
                    $('#Comprador').val(data.Context.Comprador);
                    $('#Telefono').val(data.Context.Telefono);
                    $('#Movil').val(data.Context.Movil);
                    $('#FAX').val(data.Context.FAX);
                    $('#Email').val(data.Context.Email);
                    $('#SitioWEB').val(data.Context.SitioWEB);
                    $('#CondicionesPago').val(data.Context.CondicionesPago);
                    $('#BancoNombre').val(data.Context.BancoNombre);
                    $('#BancoPais').val(data.Context.BancoPais);
                    $('#BancoCodigo').val(data.Context.BancoCodigo);
                    $('#BancoSwift ').val(data.Context.BancoSwift);
                    $('#BancoCuenta').val(data.Context.BancoCuenta);
                    $('#BancoBeneficiario').val(data.Context.BancoBeneficiario);
                    $('#ContactoId').val(data.Context.ContactoId);
                    $('#ContactoNombre').val(data.Context.ContactoNombre);
                    $('#ContactoSNombre').val(data.Context.ContactoSNombre);
                    $('#ContactoApellido').val(data.Context.ContactoApellido);
                    $('#ContactoTitulo').val(data.Context.ContactoTitulo);
                    $('#ContactoTelefono').val(data.Context.ContactoTelefono);
                    $('#ContactoCelular').val(data.Context.ContactoCelular);
                    $('#ContactoFax').val(data.Context.ContactoFax);
                    $('#ContactoEmail').val(data.Context.ContactoEmail);
                    $('#STId').val(data.Context.STId);
                    $('#STPais').val(data.Context.STPais);

                    GetEstados($("#Empresa").val(), data.Context.STPais, 'Estados', 'STEstado');
                    setTimeout(function () {
                        $('#STEstado').val(data.Context.STEstado);
                    }, 7000);

                    $('#STCiudad').val(data.Context.STCiudad);
                    $('#STColonia').val(data.Context.STColonia);
                    $('#STCondado').val(data.Context.STCondado);
                    $('#STCodigoPostal').val(data.Context.STCodigoPostal);
                    $('#STCalle').val(data.Context.STCalle);
                    $('#STEdificio').val(data.Context.STEdificio);
                    $('#MId').val(data.Context.MId);
                    $('#MPais').val(data.Context.MPais);

                    GetEstados($("#Empresa").val(), data.Context.MPais, 'Estados', 'MEstado');
                    setTimeout(function () {
                        $('#MEstado').val(data.Context.MEstado);
                    }, 7000);

                    $('#MCiudad').val(data.Context.MCiudad);
                    $('#MColonia').val(data.Context.MColonia);
                    $('#MCondado').val(data.Context.MCondado);
                    $('#MCodigoPostal').val(data.Context.MCodigoPostal);
                    $('#MCalle').val(data.Context.MCalle);
                    $('#MEdificio').val(data.Context.MEdificio);
                    $('#ListaPrecio').val(data.Context.CListaPrecio);
                    $('#Fletera').val(data.Context.CFletera);
                    $('#Impuestos').val(data.Context.PImpuestos);
                    $.LoadingOverlay("hide");
                }, 9000);
                
        });
    }

    function FindAccount() {

        if ($("#Tipo").val() == '0') {
            $.alert("Seleccione el tipo de cuenta.");
            return;
        }
        $.post('@Url.Action("GetAditionalData", "Provider")', {
            Empresa: $("#Empresa").val(),
            Tipo: 'Cuentas',
            Cuenta: $("#cuenta").val()
        }, function (data) {
                console.log(data);
            if (data.Context != null && $.isArray(data.Context)) {


                $("#table-cuentas").html('');
                $.each(data.Context, function (index, value) {
                    $("#table-cuentas").append('<tr>\
                                                        <td>' + value.Codigo + '</td>\
                                                        <td>' + value.Nombre + '</td>\
                                                        <td><button type="button" onclick="SeleccionarCuenta(\''+ value.Codigo + '\')" class="btn btn-block btn-default"><i class="fa fa-thumb-tack"><i> Seleccionar</button></td>\
                                                    </tr>');
                });

            }
        });
    }

    function SeleccionarCuenta(cuenta) {
        $.LoadingOverlay("show");
        $("#modalCuentas").modal('hide');

        $("#btnGenerar").click();
        setTimeout(function () {
            $.post('@Url.Action("GetCuentaProvider", "Provider")', {
                Empresa: $("#Empresa").val(),
                CardCode: cuenta
            }, function (data) {

                    $('#Codigo').val(data.Context.Codigo);
                    $('#Nombre').val(data.Context.Nombre);
                    $('#Extranjero').val(data.Context.Extranjero);
                    $('#Rfc').val(data.Context.RFC);
                    $('#Grupo').val(data.Context.Grupo);
                    $('#Moneda').val(data.Context.Moneda);
                    $('#Comprador').val(data.Context.Comprador);
                    $('#Telefono').val(data.Context.Telefono);
                    $('#Movil').val(data.Context.Movil);
                    $('#FAX').val(data.Context.FAX);
                    $('#Email').val(data.Context.Email);
                    $('#SitioWEB').val(data.Context.SitioWEB);
                    $('#CondicionesPago').val(data.Context.CondicionesPago);
                    $('#BancoNombre').val(data.Context.BancoNombre);
                    $('#BancoPais').val(data.Context.BancoPais);
                    $('#BancoCodigo').val(data.Context.BancoCodigo);
                    $('#BancoSwift ').val(data.Context.BancoSwift);
                    $('#BancoCuenta').val(data.Context.BancoCuenta);
                    $('#BancoBeneficiario').val(data.Context.BancoBeneficiario);
                    $('#ContactoId').val(data.Context.ContactoId);
                    $('#ContactoNombre').val(data.Context.ContactoNombre);
                    $('#ContactoSNombre').val(data.Context.ContactoSNombre);
                    $('#ContactoApellido').val(data.Context.ContactoApellido);
                    $('#ContactoTitulo').val(data.Context.ContactoTitulo);
                    $('#ContactoTelefono').val(data.Context.ContactoTelefono);
                    $('#ContactoCelular').val(data.Context.ContactoCelular);
                    $('#ContactoFax').val(data.Context.ContactoFax);
                    $('#ContactoEmail').val(data.Context.ContactoEmail);
                    $('#STId').val(data.Context.STId);
                    $('#STPais').val(data.Context.STPais);

                    GetEstados($("#Empresa").val(), data.Context.STPais, 'Estados', 'STEstado');
                    setTimeout(function () {
                        $('#STEstado').val(data.Context.STEstado);
                    }, 7000);

                    $('#STCiudad').val(data.Context.STCiudad);
                    $('#STColonia').val(data.Context.STColonia);
                    $('#STCondado').val(data.Context.STCondado);
                    $('#STCodigoPostal').val(data.Context.STCodigoPostal);
                    $('#STCalle').val(data.Context.STCalle);
                    $('#STEdificio').val(data.Context.STEdificio);
                    $('#MId').val(data.Context.MId);
                    $('#MPais').val(data.Context.MPais);

                    GetEstados($("#Empresa").val(), data.Context.MPais, 'Estados', 'MEstado');
                    setTimeout(function () {
                        $('#MEstado').val(data.Context.MEstado);
                    }, 7000);

                    $('#MCiudad').val(data.Context.MCiudad);
                    $('#MColonia').val(data.Context.MColonia);
                    $('#MCondado').val(data.Context.MCondado);
                    $('#MCodigoPostal').val(data.Context.MCodigoPostal);
                    $('#MCalle').val(data.Context.MCalle);
                    $('#MEdificio').val(data.Context.MEdificio);
                    $('#ListaPrecio').val(data.Context.CListaPrecio);
                    $('#Fletera').val(data.Context.CFletera);
                    $('#Impuestos').val(data.Context.PImpuestos);
                    $.LoadingOverlay("hide");
            });
        }, 10000);


    }

</script>





