
@{
    ViewBag.Title = "Detalle Agentes";
}

<style>
    .th-Clientes {
        background-color: #34A066;
        color: white;
        text-align: center;
    }

    .th-Agentes {
        background-color: #1A5435;
        color: white;
        text-align: center;
    }

    .th-SKUS {
        background-color: #4AD58A;
        color: black;
        text-align: center;
    }

    .text-wrap {
        white-space: normal;
    }
</style>

<section class="content-header">
    <h1>
        Detalle Agentes
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Detalle Agentes</a></li>
        <li class="active">Ventas</li>
        <li class="active"> LVV </li>
    </ol>
</section>

<section class="content">
    @*<div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Selecciona el rango de fechas: </label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="DelAl">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Selecciona un Agente: </label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <select name="cbxAgentes" id="cbxAgentes" class="form-control">
                                    @foreach (var td in this.Model.Agentes)
                                    {
                                        <option value="@td.Identifier">@td.Nombre </option>
                                    }
                                </select>
                                <span class="input-group-btn">
                                    <button id="btn-AnalisisGeneral" type="button" class="btn btn-primary btn-flat"><i class="fa fa-balance-scale"></i> Generar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cargando" style="display:none;" class="overlay">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </div>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Selecciona el rango de fechas: </label>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="DelAl">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Selecciona un Agente: </label>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <select name="cbxAgentes" id="cbxAgentes" class="form-control">
                                        @foreach (var td in this.Model.Agentes)
                                        {
                                            <option value="@td.Identifier">@td.Nombre </option>
                                        }
                                    </select>
                                    <span class="input-group-btn">
                                        <button id="btn-AnalisisGeneral" type="button" class="btn btn-primary btn-flat"><i class="fa fa-balance-scale"></i> Generar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="box-body">
                    <div class="table table-responsive">
                        <table class="table table-bordered" id="Agentes">
                            <thead>
                                <tr>
                                    <td>Cliente</td>
                                    <td>Agente</td>
                                    <td>Nombre</td>
                                    <td>EneroTotalFacturadoAA</td>
                                    <td>EneroTotalFacturado</td>
                                    <td>EneroTotalNC</td>
                                    <td>EneroVentaPeriodo</td>
                                    <td>EneroUtilidad</td>
                                    <td>FebreroTotalFacturadoAA</td>
                                    <td>FebreroTotalFacturado</td>
                                    <td>FebreroTotalNC</td>
                                    <td>FebreroVentaPeriodo</td>
                                    <td>FebreroUtilidad</td>
                                    <td>MarzoTotalFacturadoAA</td>
                                    <td>MarzoTotalFacturado</td>
                                    <td>MarzoTotalNC</td>
                                    <td>MarzoVentaPeriodo</td>
                                    <td>MarzoUtilidad</td>
                                    <td>AbrilTotalFacturadoAA</td>
                                    <td>AbrilTotalFacturado</td>
                                    <td>AbrilTotalNC</td>
                                    <td>AbrilVentaPeriodo</td>
                                    <td>AbrilUtilidad</td>
                                    <td>MayoTotalFacturadoAA</td>
                                    <td>MayoTotalFacturado</td>
                                    <td>MayoTotalNC</td>
                                    <td>MayoVentaPeriodo</td>
                                    <td>MayoUtilidad</td>
                                    <td>JunioTotalFacturadoAA</td>
                                    <td>JunioTotalFacturado</td>
                                    <td>JunioTotalNC</td>
                                    <td>JunioVentaPeriodo</td>
                                    <td>JunioUtilidad</td>
                                    <td>JulioTotalFacturadoAA</td>
                                    <td>JulioTotalFacturado</td>
                                    <td>JulioTotalNC</td>
                                    <td>JulioVentaPeriodo</td>
                                    <td>JulioUtilidad</td>
                                    <td>AgostoTotalFacturadoAA</td>
                                    <td>AgostoTotalFacturado</td>
                                    <td>AgostoTotalNC</td>
                                    <td>AgostoVentaPeriodo</td>
                                    <td>AgostoUtilidad</td>
                                    <td>SeptiembreTotalFacturadoAA</td>
                                    <td>SeptiembreTotalFacturado</td>
                                    <td>SeptiembreTotalNC</td>
                                    <td>SeptiembreVentaPeriodo</td>
                                    <td>SeptiembreUtilidad</td>
                                    <td>OctubreTotalFacturadoAA</td>
                                    <td>OctubreTotalFacturado</td>
                                    <td>OctubreTotalNC</td>
                                    <td>OctubreVentaPeriodo</td>
                                    <td>OctubreUtilidad</td>
                                    <td>NoviembreTotalFacturadoAA</td>
                                    <td>NoviembreTotalFacturado</td>
                                    <td>NoviembreTotalNC</td>
                                    <td>NoviembreVentaPeriodo</td>
                                    <td>NoviembreUtilidad</td>
                                    <td>DiciembreTotalFacturadoAA</td>
                                    <td>DiciembreTotalFacturado</td>
                                    <td>DiciembreTotalNC</td>
                                    <td>DiciembreVentaPeriodo</td>
                                    <td>DiciembreUtilidad</td>
                                </tr>
                            </thead>
                            <tbody id="DetalleAgentes"></tbody>
                        </table>
                    </div>

                </div>
                <div class="box-footer">

                </div>
                <div id="PagosRefresh" style="display:none;" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    InitModule();

    function InitModule() {
        //Configuración daterangepicker
        $('#DelAl').daterangepicker({
            locale: {
                cancelLabel: 'Limpiar',
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                monthNames: [
                     "Enero",
                     "Febrero",
                     "Marzo",
                     "Abril",
                     "Mayo",
                     "Junio",
                     "Julio",
                     "Agosto",
                     "Septiembre",
                     "Octubre",
                     "Noviembre",
                     "Diciembre"
                ]
            }
        });

        //La forma en que despliega los datos en el input cuando da click en aplicar
        $('#DelAl').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        //Borrar los datos del input cuando se da clic en limpiar
        $('#DelAl').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    }

    //Formato de numero
    var formatNumber = {
        separador: ",", // separador para los miles
        sepDecimal: '.', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }
    
    $("#btn-AnalisisGeneral").click(function () {
        swal({
            title: "Confirmación",
            text: "Esto podría tomar unos segundos.",
            icon: 'info',
            buttons: ["Cancelar", "Ok"],
        }).then((result) => {
            if (result) { 
                DetalleAgentes();
            } else {
                swal({
                    title: '¡Cancelado!',
                    text: 'Proceso cancelado',
                    icon: 'warning'
                })
            }
        })
    });

    function DetalleAgentes() {
        $("#PagosRefresh").show();
        var drp = $('#DelAl').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');
        var AgenteId = $("#cbxAgentes").val()

        $.post('@Url.Action("ObtenerDetalleAgentes", "Venta")', {
            Del: Del,
            Al: Al,
            AgenteId: AgenteId
        }, function (data) {
            if (data != null) {

                var table = $('#Agentes').DataTable();
                table.destroy();
                $("#DetalleAgentes").html('');

                var agente = $("#cbxAgentes").find('option:selected').text();

                $.each(data.Context, function (index, value) {
                    $("#DetalleAgentes").append('<tr>\
                                                        <td>' + value.Cliente + '\
                                                        <td>' + agente  + '\
                                                        <td>'+ value.Nombre + '</td>\
                                                        <td>'+ value.EneroTotalFacturaAA + '</td>\
                        <td>'+ value.EneroTotalFactura + '</td>\
                        <td>'+ value.EneroTotalNC + '</td>\
                        <td>'+ value.EneroVentaPeriodo + '</td>\
                        <td>'+ value.EneroUtilidad + '</td>\
                                                        <td>'+ value.FebreroTotalFacturaAA + '</td>\
                        <td>'+ value.FebreroTotalFactura + '</td>\
                        <td>'+ value.FebreroTotalNC + '</td>\
                        <td>'+ value.FebreroVentaPeriodo + '</td>\
                        <td>'+ value.FebreroUtilidad + '</td>\
                                                        <td>'+ value.MarzoTotalFacturaAA + '</td>\
                        <td>'+ value.MarzoTotalFactura + '</td>\
                        <td>'+ value.MarzoTotalNC + '</td>\
                        <td>'+ value.MarzoVentaPeriodo + '</td>\
                        <td>'+ value.MarzoUtilidad + '</td>\
                                                        <td>'+ value.AbrilTotalFacturaAA + '</td>\
                        <td>'+ value.AbrilTotalFactura + '</td>\
                        <td>'+ value.AbrilTotalNC + '</td>\
                        <td>'+ value.AbrilVentaPeriodo + '</td>\
                        <td>'+ value.AbrilUtilidad + '</td>\
                                                        <td>'+ value.MayoTotalFacturaAA + '</td>\
                        <td>'+ value.MayoTotalFactura + '</td>\
                        <td>'+ value.MayoTotalNC + '</td>\
                        <td>'+ value.MayoVentaPeriodo + '</td>\
                        <td>'+ value.MayoUtilidad + '</td>\
                                                        <td>'+ value.JunioTotalFacturaAA + '</td>\
                        <td>'+ value.JunioTotalFactura + '</td>\
                        <td>'+ value.JunioTotalNC + '</td>\
                        <td>'+ value.JunioVentaPeriodo + '</td>\
                        <td>'+ value.JunioUtilidad + '</td>\
                                                        <td>'+ value.JulioTotalFacturaAA + '</td>\
                        <td>'+ value.JulioTotalFactura + '</td>\
                        <td>'+ value.JulioTotalNC + '</td>\
                        <td>'+ value.JulioVentaPeriodo + '</td>\
                        <td>'+ value.JulioUtilidad + '</td>\
                                                        <td>'+ value.AgostoTotalFacturaAA + '</td>\
                        <td>'+ value.AgostoTotalFactura + '</td>\
                        <td>'+ value.AgostoTotalNC + '</td>\
                        <td>'+ value.AgostoVentaPeriodo + '</td>\
                        <td>'+ value.AgostoUtilidad + '</td>\
                                                        <td>'+ value.SeptiembreTotalFacturaAA + '</td>\
                        <td>'+ value.SeptiembreTotalFactura + '</td>\
                        <td>'+ value.SeptiembreTotalNC + '</td>\
                        <td>'+ value.SeptiembreVentaPeriodo + '</td>\
                        <td>'+ value.SeptiembreUtilidad + '</td>\
                                                        <td>'+ value.OctubreTotalFacturaAA + '</td>\
                        <td>'+ value.OctubreTotalFactura + '</td>\
                        <td>'+ value.OctubreTotalNC + '</td>\
                        <td>'+ value.OctubreVentaPeriodo + '</td>\
                        <td>'+ value.OctubreUtilidad + '</td>\
                                                        <td>'+ value.NoviembreTotalFacturaAA + '</td>\
                        <td>'+ value.NoviembreTotalFactura + '</td>\
                        <td>'+ value.NoviembreTotalNC + '</td>\
                        <td>'+ value.NoviembreVentaPeriodo + '</td>\
                        <td>'+ value.NoviembreUtilidad + '</td>\
                                                        <td>'+ value.DiciembreTotalFacturaAA + '</td>\
                        <td>'+ value.DiciembreTotalFactura + '</td>\
                        <td>'+ value.DiciembreTotalNC + '</td>\
                        <td>'+ value.DiciembreVentaPeriodo + '</td>\
                        <td>'+ value.DiciembreUtilidad + '</td>\
                                                    </tr >');
                });

                $('#Agentes').DataTable({
                    "dom": "Bfrtip",
                    "buttons": [
                        "excel", "pdf"
                    ],
                    "pageLength": 10000,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    }
                });
                $("#PagosRefresh").hide();
            }
        });
    }
</script>