
@{
    ViewBag.Title = "General";
}

<style>
    .th-Clientes {
        background-color: #34A066;
        color: white;
        text-align: center;
    }

    .th-Agentes {
        background-color: #1A5435;
        color: white;
        text-align: center;
    }

    .th-SKUS {
        background-color: #4AD58A;
        color: black;
        text-align: center;
    }

    .text-wrap {
        white-space: normal;
    }
</style>

<section class="content-header">
    <h1>
        Análisis General
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Análisis General</a></li>
        <li class="active">Ventas</li>
        <li class="active"> MCRC </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Selecciona el rango de fechas: </label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="DelAl">
                                <span class="input-group-btn">
                                    <button id="btn-AnalisisGeneral" type="button" class="btn btn-primary btn-flat"><i class="fa fa-balance-scale"></i> Generar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cargando" style="display:none;" class="overlay">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">CF</span>
                    <span id="VentaCF" class="info-box-number"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">FACTURA</span>
                    <span id="VentaF" class="info-box-number"></span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-object-group"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">TOTAL</span>
                    <span id="VentaTotal" class="info-box-number"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-pie-chart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">PROMEDIO</span>
                    <span id="VentaPromedio" class="info-box-number"></span>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Detalle por vendedor</h3>
                    <div class="box-tools pull-right">
                        <button id="btn-DetalleVendedor" type="button" class="btn btn-box-tool"><i class="fa fa-file-excel-o"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table table-responsive">
                        <table id="TableVendedor" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="th-Agentes" style="width:40%">Agente</th>
                                    <th class="th-Agentes" style="width:10%">SKUS</th>
                                    <th class="th-Agentes" style="width:10%">CF</th>
                                    <th class="th-Agentes" style="width:10%">F</th>
                                    <th class="th-Agentes" style="width:10%">Total</th>
                                    <th class="th-Agentes" style="width:10%">Meta</th>
                                    <th class="th-Agentes" style="width:10%">Cumplimiento</th>
                                </tr>
                            </thead>
                            <tbody id="DetalleVendedor"></tbody>
                        </table>
                    </div>
                </div>
                <div id="cargandoAgentes" style="display:none;" class="overlay">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Detalle por SKU´s</h3>
                    <div class="box-tools pull-right">
                        <button id="btn-DetalleSku" type="button" class="btn btn-box-tool"><i class="fa fa-file-excel-o"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table table-responsive">
                        <table id="TableSku" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Familia</th>
                                    <th>Cantidad</th>
                                    <th>Participación</th>
                                </tr>
                            </thead>
                            <tbody id="DetalleSku"></tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>


    </div>

    <!--MODAL TABLA DETALLE CLIENTES POR AGENTE-->
    <div class="modal fade" id="modalDetalleClientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-6">
                        <h5 class="modal-title">Detalle del Agente</h5>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="box-header">
                        <i class="fa fa-level-down"></i>
                        <h3 class="box-title">Clientes</h3>
                    </div>
                    <div class="box-body" style="display: block;">
                        <div class="table-responsive table-responsive-custom">
                            <table class="table table-bordered" id="tablaClientes">
                                <thead>
                                    <tr class="table-primary">
                                        <th class="th-Clientes">Cliente</th>
                                        <th class="th-Clientes">Nombre</th>
                                        <th class="th-Clientes"><i class="glyphicon glyphicon-usd"></i> Total(<small>Año anterior</small>)</th>
                                        <th class="th-Clientes"><i class="glyphicon glyphicon-usd"></i> Total Facturado</th>
                                        <th class="th-Clientes"><i class="glyphicon glyphicon-usd"></i> Total NC</th>
                                        <th class="th-Clientes"><i class="glyphicon glyphicon-usd"></i> Venta</th>
                                        <th class="th-Clientes">Margen (<i class="fa fa-percent"></i>)</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyClientes"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL TABLA DETALLE SKUS POR AGENTE O CLIENTE-->
    <div class="modal fade" id="modalDetalleSKUS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-6">
                        <h5 class="modal-title">Detalle de SKUS</h5>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="box-header">
                        <i class="fa fa-level-down"></i>
                        <h3 class="box-title">SKUS</h3>
                    </div>
                    <div class="box-body" style="display: block;">
                        <div class="table-responsive table-responsive-custom">
                            <table class="table table-bordered" id="tablaSKUS" style="width:100%">
                                <thead>
                                    <tr class="table-primary">
                                        <th class="th-SKUS">SKU</th>
                                        <th class="th-SKUS">Familia</th>
                                        <th class="th-SKUS">Cantidad(<small>Año anterior</small>)</th>
                                        <th class="th-SKUS">Total(<small>Año anterior</small>)</th>
                                        <th class="th-SKUS">Cantidad</th>
                                        <th class="th-SKUS"><i class="glyphicon glyphicon-usd"></i> Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodySKUS"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    InitModule();

    function InitModule() {
        //Configuración daterangepicker
        $('#DelAl').daterangepicker({
            locale: {
                cancelLabel: 'Limpiar',
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                monthNames: [
                     "Enero",
                     "Febrero",
                     "Marzo",
                     "Abril",
                     "Mayo",
                     "Junio",
                     "Julio",
                     "Agosto",
                     "Septiembre",
                     "Octubre",
                     "Noviembre",
                     "Diciembre"
                ]
            }
        });

        //La forma en que despliega los datos en el input cuando da click en aplicar
        $('#DelAl').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        //Borrar los datos del input cuando se da clic en limpiar
        $('#DelAl').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    }

    //Formato de numero
    var formatNumber = {
        separador: ",", // separador para los miles
        sepDecimal: '.', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }

    $("#btn-DetalleVendedor").click(function () {
        var drp = $('#DelAl').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');
        $.post('@Url.Action("DetalleAnalisisVendedor", "Venta")', {
            Del: Del,
            Al: Al
        }, function (data) {
            window.location.href = '@Url.Action("Download", "Venta")' + '?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
        });
    });

    $("#btn-DetalleSku").click(function () {
        var drp = $('#DelAl').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');
        $.post('@Url.Action("DetalleAnalisisSku", "Venta")', {
            Del: Del,
            Al: Al
        }, function (data) {
            window.location.href = '@Url.Action("Download", "Venta")' + '?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
        });
    });

    $("#btn-AnalisisGeneral").click(function () {
        swal({
            title: "Confirmación",
            text: "Esto podría tomar unos segundos.",
            icon: 'info',
            buttons: ["Cancelar", "Ok"],
        }).then((result) => {
            if (result) { 
                ObtieneTotales();
                DetalleVendedor();
                DetalleSku();
            } else {
                swal({
                    title: '¡Cancelado!',
                    text: 'Proceso cancelado',
                    icon: 'warning'
                })
            }
        })
    });

    function ObtieneTotales() {
        var drp = $('#DelAl').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');
        
        $.post('@Url.Action("AnalisisTotal", "Venta")', {
            Del: Del,
            Al: Al
        }, function (data) {
            if (data != null) {
                $("#VentaF").html(formatNumber.new(data.Context.Factura.toFixed(2), "$"));
                $("#VentaCF").html(formatNumber.new(data.Context.CF.toFixed(2), "$"));
                $("#VentaTotal").html(formatNumber.new(data.Context.Total.toFixed(2), "$"));
                $("#VentaPromedio").html(data.Context.Promedio.toFixed(2));
            }

        });
    }

    function DetalleVendedor() {
        var drp = $('#DelAl').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');
        $('#cargandoAgentes').show();
        $.post('@Url.Action("AnalisisVendedor", "Venta")', {
            Del: Del,
            Al: Al
        }, function (data) {
            if (data != null && $.isArray(data.Context)) {
                var table = $('#TableVendedor').DataTable();
                table.destroy();
                $("#DetalleVendedor").html('');
                $.each(data.Context, function (index, value) {
                    $("#DetalleVendedor").append("<tr>\
                                                    <td><a class='btn btn-lg' data-target='#modalDetalleClientes' data-toggle='modal' data-id='" + value.Sequence + "' align='center'>" + value.Nombre + "</a></td>\
                                                    <td><a class='btn btn-lg' data-target='#modalDetalleSKUS' data-toggle='modal' onclick='obtenerSKUS(\"\", " + value.Sequence + ")' align='center'><i class='glyphicon glyphicon-list-alt'></i></a></td>\
                                                    <td>" + formatNumber.new(value.CartaFactura.toFixed(2), "$") + "</td >\
                                                    <td>" + formatNumber.new(value.Factura.toFixed(2), "$") + "</td>\
                                                    <td>" + formatNumber.new(value.Total.toFixed(2), "$") + "</td>\
                                                    <td>" + formatNumber.new(value.Meta.toFixed(2), "$") + "</td>\
                                                    <td align='center'>" + value.Cumplimiento.toFixed(2) + "</td>\
                                                </tr>");

                });
                $('#TableVendedor').DataTable({
                    "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
                    dom: 'frtip',
                    stateSave: true,
                    "searching": true,
                    "aaSorting": [],
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    }
                });
            } else {
                $.alert("Ocurrio un error al procesar la solicitud");
            }
            $('#cargandoAgentes').hide();
        });
    }

    $('#modalDetalleClientes').on('show.bs.modal', function (e) {
        var agente = $(e.relatedTarget).data().id;

        var drp = $('#DelAl').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');

        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetClientes", "Venta")',
            async: false,
            timeout: 3000,
            type: 'POST',
            data: '{"Del":"' + Del + '", "Al":"' + Al + '", "Agente":' + agente + '}',
            dataType: "json",
            success: function (data) {
                if (data != null && $.isArray(data.Context.Items)) {
                    var VP = $('#tablaClientes').DataTable();
                    VP.destroy();
                    $("#tbodyClientes").html('');
                    
                    $.each(data.Context.Items, function (index, value) {
                        $("#tbodyClientes").append('<tr>\
                                                        <td><div class="text-wrap" style="width: 100px" align="center"><a class="btn btn-lg" data-target="#modalDetalleSKUS" data-toggle="modal" onclick="obtenerSKUS(\'' + value.Cliente + '\', ' + agente + ')" align="center"><i class="glyphicon glyphicon-list-alt"></i> ' + value.Cliente + '</a></div></td>\
                                                        <td><div class="text-wrap" style="width: 100px">' + value.Nombre + '</div></td>\
                                                        <td align="center">' + formatNumber.new(value.TotalFacturaAA.toFixed(2), "$") + '</td>\
														<td align="center">' + formatNumber.new(value.TotalFactura.toFixed(2), "$") + '</td>\
														<td align="center">' + formatNumber.new(value.TotalNC.toFixed(2), "$") + '</td>\
                                                        <td align="center">' + formatNumber.new(value.VentaPeriodo.toFixed(2), "$") + '</td>\
														<td align="center">' + value.Utilidad.toFixed(2) + ' %</td>\
                                                    </tr>');
                    });

                    $('#tablaClientes').DataTable({
                        "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
                        dom: 'Bfrtip',
                        "buttons": ['excel'],
                        stateSave: true,
                        "searching": true,
                        "aaSorting": [],
                        "ordering": false,
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                        }
                    });

                    
                }
            },
            error: function () {
                swal({
                    title: "Error",
                    text: "Error en la api: GetClientes",
                    icon: "error",
                    button: true,
                    dangerMode: true,
                })
            }
        });
    });

    function obtenerSKUS(cliente,agente) {
        var drp = $('#DelAl').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');

        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetSKUS", "Venta")',
            async: false,
            timeout: 3000,
            type: 'POST',
            data: '{"Del":"' + Del + '", "Al":"' + Al + '", "Agente":' + agente + ', "Cliente":"' + cliente + '"}',
            dataType: "json",
            success: function (data) {
                if (data != null && $.isArray(data.Context)) {
                    var VP = $('#tablaSKUS').DataTable();
                    VP.destroy();
                    $("#tbodySKUS").html('');

                    $.each(data.Context, function (index, value) {
                            
                        $("#tbodySKUS").append(
                            "<tr>\
                                <td>" + value.Identifier + "</td>\
                                <td>" + value.familia + "</td>\
                                <td>" + value.cantidadAA + "</td>\
                                <td>" + formatNumber.new(value.TotalImporteAA.toFixed(2), "$") + "</td>\
                                <td>" + value.cantidad + "</td>\
                                <td>" + formatNumber.new(value.TotalImporte.toFixed(2), "$") + "</td></tr>");
                    });

                    $('#tablaSKUS').DataTable({
                        "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
                        dom: 'Bfrtip',
                        "buttons": ['excel'],
                        stateSave: true,
                        "searching": true,
                        "aaSorting": [],
                        "ordering": false,
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                        }
                    });
                }
            },
            error: function () {
                swal({
                    title: "Error",
                    text: "Error en la api: GetSKUS",
                    icon: "error",
                    button: true,
                    dangerMode: true,
                })
            }
        });
    }

    function DetalleSku() {
        var drp = $('#DelAl').data('daterangepicker');
        var Del = drp.startDate.format('YYYY/MM/DD');
        var Al = drp.endDate.format('YYYY/MM/DD');

        $.post('@Url.Action("AnalisisSku", "Venta")', {
            Del: Del,
            Al: Al
        }, function (data) {
            console.log(data)
            if (data != null && $.isArray(data.Context)) {
                $("#DetalleSku").html('');
                $.each(data.Context, function (index, value) {
                    $("#DetalleSku").append("<tr>\
                                                <th>" + value.Familia + "</th>\
                                                <th>" + formatNumber.new(value.Cantidad, "") + "</th>\
                                                <th>" + formatNumber.new(value.Participacion.toFixed(2), "") + "</th>\
                                            </tr>");

                });
            } else {
                $.alert("Ocurrio un error al procesar la solicitud");
            }
        });
    }
</script>